<?php if (isset($this->col)) { $col = $this->col; } else { $col = '10'; } ?>
<div class="<?php if ($col!=12)  {echo 'col-sm-'.$col; } ?> content-page <?php if(isset($this->bgimage)) echo 'bg-image-login'; ?>">

    <?php /*
    if (isset($this->flash_redirect)) {
        echo $this->flashMessenger(true)->zoneAffichage($this->flash_redirect);
    } else {
        echo $this->flashMessenger(true)->zoneAffichage(); 
    } */?>
    
    <?php if ($this->titre) { ?>
        <h1 class="title-section"><?php echo $this->titre; ?></h1>
    <?php } ?>
     
        
        
    <?php if ($this->description) { ?>
        <p class="title-description"><?php echo $this->description; ?></p>
    <?php } ?>
 