<link rel="stylesheet" href="<?php echo $this->basePath().'/assets/js/datatables/css/dataTables.bootstrap4.css';?>">
<link rel="stylesheet" href="<?php echo $this->basePath().'/assets/js/datatables-responsive/dataTables.responsive.css';?>">
        
<script src="<?php echo $this->basePath().'/assets/js/datatables/js/jquery.dataTables.min.js'; ?>"></script>
<script src="<?php echo $this->basePath().'/assets/js/datatables-plugins/dataTables.bootstrap.min.js'; ?>"></script>
<script src="<?php echo $this->basePath().'/assets/js/datatables-responsive/dataTables.responsive.js'; ?>"></script>

<!--
 <link rel="stylesheet" href="https://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">
 <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
-->