<div>
    <div class="bandeau-societe">
        <div class="container">
            <div class="row ">
                <div class="js-bandeau-societe">
                    <div class="">
                        <div class="col-md-6 col-sm-12" >                             		
                            <div class="bonjour" >
                                    <p><i class="fa fa-user" aria-hidden="true"></i> Bonjour, <span class="bonjour-vous"><?= $this->user->getFullName(); ?></span>. (<?= $this->user->getFunction(); ?>)</p>	
<!--                                <div><?= $this->user->getEmail(); ?>   </div>
                                    <div><?= $this->user->getFullName(); ?></div>-->

                                    <p class="raisonSociale"><i class="fa fa-briefcase" aria-hidden="true"></i> <?= $this->service;?></p>
                                    <p class="vous-connecte"><span></span>Vous êtes connecté</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="fleche-fermeture">
                <a class="societe-fermeture" href="#" onclick="return false">
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>

                </a> 
            </div> 

        </div> 
    </div>
</div>
    

 