<?php  if(!$this->identity()){ ?> 
    <div class="logBox">
        <div class="">
            <div class="">
                <a class="btn  btn-orange-fonce btn-deco-front" href="<?= $this->url('login'); ?>" > 
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <span class="sr-only">Connexion</span>
                    Connexion
                </a>
            </div>
        </div>
    </div>
<?php } else{?>
    <div class="logBox">
        <div class="">
            <div style="min-width: 400px">
                
                <ul class="nav pull-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <?=$this->user->getFullName() ?> <b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-menu-right" style="margin-top: -1px">
                            <li><a href="<?= $this->basePath('users/view'); ?>"><i class="icon-cog"></i> Mon compte</a></li>
                            <li class="divider"></li>
                            <li><a href="<?= $this->url('logout'); ?>"><i class="icon-off"></i> Déconnexion</a></li>
                        </ul>
                    </li>
                </ul>
                <!--
                <a class="btn  btn-orange-fonce btn-deco-front" href="<?= $this->url('logout'); ?>" > 
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <span class="sr-only">Déconnexion</span>
                    Déconnexion
                </a>
                -->
            </div>
        </div>
    </div>
<?php }

?> 
    

 