<?php
/**
 * Vue de rendu de modal. (partial).
 *
 * @category   Projet
 * @package    roles-form
 * @subpackage View
 * @author     Pascal Codry <pascal.codry@ikaconseil.com>
 * @copyright  Copyright (c) 2015 IKA Conseil
 */
?>

<?php if (isset($this->actionUrl)) { ?>
<form method="post" action="<?php echo $this->actionUrl; ?>" > 
<?php }?>
<div <?php if ($this->id)  echo 'id="'.$this->id.'"'; ?> class="modal fade">
  <div class="<?php echo isset($this->class)?$this->class:''; ?> modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title modal-text"><?php  echo $this->titre; ?></h4>
      </div>
      <div class="modal-body">
         <?php if(isset($this->content)) echo $this->content ?>
      </div>
      <div class="modal-footer">
            <?php if(isset($this->footer)) echo $this->footer ?>
<!--        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<?php if (isset($this->actionUrl)) { ?>
</form> 
<?php }?>