
.navbar-fixed {
  z-index: 99999;
  position: fixed;
  opacity: .98;
  width: 100%;
  top: 0;
  -webkit-animation: fadeInDown 800ms;
  -moz-animation: fadeInDown 800ms;
  -ms-animation: fadeInDown 800ms;
  -o-animation: fadeInDown 800ms;
  animation: fadeInDown 800ms;
  -webkit-backface-visibility: hidden;
}

th{
    background-color: #1bbc9b;
    color: white;
}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
	.navbar-fixed{
      position: relative;
   }
}

   /* Small Devices Potrait */
@media (max-width : 767px){

   .navbar-fixed{
      position: relative;
   }

}

