<?php
$this->headTitle('Ajout un point');

$this->mainMenu()->setActiveItemId('parametre');

$this->pageBreadcrumbs()->setItems([
            'Home'=>$this->url('home'),
            'Manage Users'=>$this->url('users'),
            'Add User'=>$this->url('users', ['action'=>'add'])
            ]);

$form->get('projectName')->setAttributes([
    'class'=>'form-control',
    ]);

$form->get('service')->setAttributes([
    'class'=>'form-control',
    ]);

$form->get('annuler')->setAttributes(['class'=>'btn btn-warning'
    ]);

$form->get('enregistrer')->setAttributes(['class'=>'btn btn-success'
    ]);

$form->prepare();
?>

<div class="starter-template zone-entreprise">
    <div class="div-impot-a-declarer">
        <div class="title_orange">Ajouter un projet</div>
        <?= $this->form()->openTag($form); ?>
            <div class="row form-group">
                <div class="col-sm-6"><label><?= $this->formLabel($form->get('projectName')); ?><span class="star">&#160;*</span></label></div>
                <div class="col-sm-6"><?= $this->formElement($form->get('projectName')); ?></div>
                <div class="col-sm-12 errors"><?= $this->formElementErrors($form->get('projectName')); ?></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6"><label><?= $this->formLabel($form->get('service')); ?><span class="star">&#160;*</span></label></div>
                <div class="col-sm-6"><?= $this->formElement($form->get('service')); ?></div>
                <div class="col-sm-12 errors"><?= $this->formElementErrors($form->get('service')); ?></div>
            </div>
            <?= $this->formElement($form->get('csrf')); ?>
            <?= $this->formElementErrors($form->get('csrf')); ?>
            <div class="row">
                <div class="col-sm-6 col-xs-12 retour"><?= $this->formElement($form->get('annuler')); ?></div>
                <div class="col-sm-6 col-xs-12 enregistrer" style="text-align:right;"><?= $this->formElement($form->get('enregistrer')); ?></div>
            </div>
        <?= $this->form()->closeTag(); ?>
    </div>
    <?php echo $this->partial('partial/finContent.phtml'); ?> 
</div>
