<?php

$form->get('email')->setAttributes([
    'class'=>'form-control', 
    'placeholder'=>'Adresse email',
    'required' => true,
    'autofocus' => true
    ])
    ->setLabelAttributes([
        'class' => 'sr-only'
    ]);

$form->get('password')->setAttributes([
    'class'=>'form-control', 
    'placeholder'=>'Mot de passe',
    'required' => true,
    ])
    ->setLabelAttributes([
        'class' => 'sr-only'
    ]);
?>

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Authentification - MONPOINT</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/bootstrap.min.css';?>">
    
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/font-awesome.min.css';?>">
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/notika-custom-icon.css';?>">
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/style.css';?>">
</head>
<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Login Register area Start-->
    <div class="login-content">
        <!-- Login -->
        <div class="nk-block toggled" id="l-login">
            <div class="nk-form">
                <form class="form-signin" method="post">
                    <?php if ($isLoginError): ?>
                    <div class="alert alert-warning" role="alert">
                        Login et/ou mot de passe incorrecte. 
                        <a href="<?= $this->url('reset-password') ?>">Mot de passe oublié?</a>
                    </div>
                    <?php endif; ?>
                    <div class="input-group">
                        <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-support"></i></span>
                        <div class="nk-int-st">
                            <?= $this->formElement($form->get('email')); ?>
                        </div>
                    </div>
                    <div class="input-group mg-t-15">
                        <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-edit"></i></span>
                        <div class="nk-int-st">
                            <?= $this->formElement($form->get('password')); ?>
                        </div>
                    </div>
                    <div class="fm-checkbox">
                        <label><?= $this->formElement($form->get('remember_me')); ?> <i></i> Se souvenir de moi</label>
                    </div>
                    <?= $this->formElement($form->get('redirect_url')) ?>
                    <?= $this->formElement($form->get('csrf')) ?>
                    <button class="btn btn-login btn-success btn-float" type="submit"><i class="notika-icon notika-right-arrow right-arrow-ant"></i></button>
                </form>
            </div>
            
            <div class="nk-navigation nk-lg-ic">
                <a href="<?= $this->url('home') ?>" data-ma-block="#l-register"><i style="font-weight: bold;"class="notika-icon notika-house"></i> <span>Accueil</span></a>
                <a href="<?= $this->url('reset-password') ?>" data-ma-block="#l-forget-password"><i>?</i> <span>Mot de passe</span></a>
            </div>
        </div>
    </div>
    <!-- Login Register area End-->
    <!-- jquery
		============================================ -->
    <script src="<?php echo $this->basePath().'/assets/js/jquery/jquery.min.js'; ?>"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="<?php echo $this->basePath().'/assets/js/bootstrap.min.js'; ?>"></script>
</body>

</html>
