<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Accès Réfusé | e-securisation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/bootstrap.min.css';?>">
    <!-- font awesome CSS
		============================================ -->
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/font-awesome.min.css';?>">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/owl.carousel.css';?>">
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/owl.theme.css';?>">
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/owl.transitions.css';?>">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/animate.css';?>">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/normalize.css';?>">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/scrollbar/jquery.mCustomScrollbar.min.css';?>">
    <!-- wave CSS
		============================================ -->
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/wave/waves.min.css';?>">
    <!-- Notika icon CSS
		============================================ -->
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/notika-custom-icon.css';?>">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/main.css';?>">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/style.css';?>">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/responsive.css';?>">
    <!-- modernizr JS
		============================================ -->
    <script src="<?php echo $this->basePath().'/assets/js/vendor/modernizr-2.8.3.min.js';?>"></script>
</head>
<body>
    <div class="error-page-area">
        <div class="error-page-wrap">
            <i class="notika-icon notika-close"></i>
            <h2>ERREUR <span class="counter">403</span></h2>
            <p>Désolé, mais Vous droits ne vous permmettent pas d'accéder à cette page. Veuillez faire recourt à votre administrateur.</p>
            <a href="#" class="btn">Retourner à l'accueil</a>
        </div>
    </div>
    <!-- jquery
		============================================ -->
    <script src="<?php echo $this->basePath().'/assets/js/vendor/jquery-1.12.4.min.js'; ?>"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="<?php echo $this->basePath().'/assets/js/bootstrap.min.js'; ?>"></script>
    <!-- icheck JS
		============================================ -->
    <script src="<?php echo $this->basePath().'/assets/js/icheck/icheck.min.js'; ?>"></script>
    <script src="<?php echo $this->basePath().'/assets/js/icheck/icheck-active.js'; ?>"></script>
    <!-- Login JS
		============================================ -->
    <script src="<?php echo $this->basePath().'/assets/js/login/login-action.js'; ?>"></script>
    <!-- plugins JS
		============================================ -->
    <script src="<?php echo $this->basePath().'/assets/js/plugins.js'; ?>"></script>
    <!-- main JS
		============================================ -->
    <script src="<?php echo $this->basePath().'/assets/js/main.js'; ?>"></script>
    <script src="<?php echo $this->basePath().'/assets/js/counterup/jquery.counterup.min.js'; ?>"></script>
    <script src="<?php echo $this->basePath().'/assets/js/counterup/waypoints.min.js'; ?>"></script>
    <script src="<?php echo $this->basePath().'/assets/js/counterup/counterup-active.js'; ?>"></script>
</body>

</html>