<?php
$this->headTitle('Modifier un point');

$this->mainMenu()->setActiveItemId('point');

$this->pageBreadcrumbs()->setItems([
            'Home'=>$this->url('home'),
            'Manage Users'=>$this->url('users'),
            'Add User'=>$this->url('users', ['action'=>'add'])
            ]);

$form->get('purcent')->setAttributes([
    'class'=>'form-control'
]);

$form->get('domaine')->setAttributes([
    'class'=>'form-control',
    ]);

$form->get('activity')->setAttributes([
    'class'=>'form-control',
    
    ]);

$form->get('startDate')->setAttributes([
    'class'=>'form-control',
    'size'=>38,
    'placeholder'=>'28/Février/2019'
    ]);

$form->get('endDate')->setAttributes([
    'class'=>'form-control',
    
    ]);

$form->get('expiryDate')->setAttributes([
    'class'=>'form-control',
    
    ]);

$form->get('executionState')->setAttributes([
    'class'=>'form-control',
    ]);

$form->get('observation')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Ajoutez une description à votre produit',
    'rows'=>5
    ]);

$form->get('annuler')->setAttributes(['class'=>'btn btn-warning'
    ]);

$form->get('enregistrer')->setAttributes(['class'=>'btn btn-success'
    ]);

$form->prepare();
?>

<div class="starter-template zone-entreprise">
    <?= $this->flashMessenger()->render('error', ['alert', 'alert-warning']); ?>
    <div class="div-impot-a-declarer">
        <div class="title_orange">Modifier une activité</div>
        <?= $this->form()->openTag($form); ?>
            <div class="row form-group">
                <div class="col-sm-6"><?= $this->formElement($form->get('returnUrl')); ?></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6"><label><?= $this->formLabel($form->get('domaine')); ?><span class="star">&#160;*</span></label></div>
                <div class="col-sm-6"><?= $this->formElement($form->get('domaine')); ?></div>
                <div class="col-sm-12 errors"><?= $this->formElementErrors($form->get('domaine')); ?></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6"><label><?= $this->formLabel($form->get('activity')); ?><span class="star">&#160;*</span></label></div>
                <div class="col-sm-6"><?= $this->formElement($form->get('activity')); ?></div>
                <div class="col-sm-12 errors"><?= $this->formElementErrors($form->get('activity')); ?></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6"><label><?= $this->formLabel($form->get('expiryDate')); ?><span class="star">&#160;*</span></label></div>
                <div class="col-sm-6"><?= $this->formElement($form->get('expiryDate')); ?></div>
                <div class="col-sm-12 errors"><?= $this->formElementErrors($form->get('expiryDate')); ?></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6"><label><?= $this->formLabel($form->get('startDate')); ?><span class="star">&#160;*</span></label></div>
                <div class="col-sm-6"><?= $this->formElement($form->get('startDate')); ?></div>
                <div class="col-sm-12 errors"><?= $this->formElementErrors($form->get('startDate')); ?></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6"><label><?= $this->formLabel($form->get('endDate')); ?><span class="star">&#160;</span></label></div>
                <div class="col-sm-6"><?= $this->formElement($form->get('endDate')); ?></div>
                <div class="col-sm-12 errors"><?= $this->formElementErrors($form->get('endDate')); ?></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6"><label><?= $this->formLabel($form->get('executionState')); ?><span class="star">&#160;*</span></label></div>
                <div class="col-sm-6"><?= $this->formElement($form->get('executionState')); ?></div>
                <div class="col-sm-12 errors"><?= $this->formElementErrors($form->get('executionState')); ?></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6"><label><?= $this->formLabel($form->get('purcent')); ?><span class="star">&#160;*</span></label></div>
                <div class="col-sm-6"><?= $this->formElement($form->get('purcent')); ?></div>
                <div class="col-sm-12 errors"><?= $this->formElementErrors($form->get('purcent')); ?></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6"><label><?= $this->formLabel($form->get('observation')); ?><span class="star">&#160;</span></label></div>
                <div class="col-sm-6"><?= $this->formElement($form->get('observation')); ?></div>
                <div class="col-sm-12 errors"><?= $this->formElementErrors($form->get('observation')); ?></div>
            </div>
            <?= $this->formElement($form->get('csrf')); ?>
            <?= $this->formElementErrors($form->get('csrf')); ?>
            <div class="row">
                <div class="col-sm-6 col-xs-12 retour"><?= $this->formElement($form->get('annuler')); ?></div>
                <div class="col-sm-6 col-xs-12 enregistrer" style="text-align:right;"><?= $this->formElement($form->get('enregistrer')); ?></div>
            </div>
        <?= $this->form()->closeTag(); ?>
    </div>
    <?php echo $this->partial('partial/finContent.phtml'); ?> 
</div>
