<?php
    echo $this->partial('partial/header_datatable.phtml',array());
?>
<?php
$this->headTitle('Points d\'activités');

$this->mainMenu()->setActiveItemId('point');
$this->pageBreadcrumbs()->setItems([
            'Home'=>$this->url('home'),
            'Manage Roles'=>$this->url('roles'),
            ]);

$form->get('start')->setAttributes([
    'id'=>'start',
    'class'=>'form-control',
    ]);

$form->get('end')->setAttributes([
    'id'=>'end',
    'class'=>'form-control',
    ]);

$form->get('executionState')->setAttributes([
    'id'=>'executionState',
    'class'=>'form-control',
    ]);
?>
<link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/fab-button.css';?>">



<a href="#" class="btn-warning float" id="menu-share">
<i class="fa fa-gears my-float"></i>
</a>

<ul id="fab-menu">
    <li>
        <form id="frmExportExcel" target="_blank" method="POST" action="<?=$this->basePath('ajax/exportExcel') ?>">
            <input type="hidden" name="start" value="<?=$form->get('start')->getValue() ?>" />
            <input type="hidden" name="end" value="<?=$form->get('end')->getValue() ?>" />
            <input type="hidden" name="executionState" value="<?=$form->get('executionState')->getValue() ?>" />
        </form>
        <a id="exportExcel" href="#" data-hint="Exporter vers excel" data-placement="top" class="btn-success">
            <i class="fa fa-file-excel-o my-float"></i>
        </a>
    </li>
    <li>
        <a data-placement="bottom" data-hint="Ajouter un point" class="btn-success" href="<?= $this->url('pointactivites', ['action'=>'add']); ?>">
            <i class="fa fa-plus my-float"></i>
        </a>
    </li>
</ul>
<p></p>

<div class="starter-template zone-entreprise">
    <?= $this->flashMessenger()->render('error', ['alert', 'alert-warning']); ?>
    <?= $this->flashMessenger()->render('success', ['alert', 'alert-success']); ?>
    <?= $this->flashMessenger()->render('info', ['alert', 'alert-info']); ?>
    <div class="panel panel-warning">
        <div class="panel-heading">Rechercher un point selon les critères indiqués dans le formulaire ci-dessous</div>
        <div class="panel-body">
            
            <?php /*echo $this->partial('partial/debContent.phtml', 
                array(
                    'col' => 12,
                    'titre' =>  'Rechercher un point sur une période donnée',
                    'description' => 'Sélectionner la période dans le formulaire ci-dessous pour selon les points recherchés, puis cliquez sur le bouton « Rechercher ».',
                    'view' => $this,
                )
            ); */ ?>
            <br/><br/>
            <form method="POST" action="">
                <div class="row form-group" style="align-content: center;">
                    <div class="col-sm-4">
                        <?= $this->formLabel( $form->get('start') ) ?>
                        <?= $this->formElement($form->get('start')); ?> 
                        <?= $this->formElementErrors()->render($form->get('start'), ['class' => 'help-block']) ?>
                    </div>
                    <div class="col-sm-4">
                        <?= $this->formLabel( $form->get('end') ) ?>
                        <?= $this->formElement($form->get('end')); ?> 
                        <?= $this->formElementErrors()->render($form->get('end'), ['class' => 'help-block']) ?>
                    </div>
                    <div class="col-sm-2">
                        <?= $this->formLabel( $form->get('executionState') ) ?>
                        <?= $this->formElement($form->get('executionState')); ?> 
                        <?= $this->formElementErrors()->render($form->get('executionState'), ['class' => 'help-block']) ?>
                    </div>
                    <div class="col-sm-2" style="text-align:left;">
                        <br/>
                        <button type="submit" class="btn btn-success btn-block">Rechercher</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <input type="hidden" value="<?php echo $this->identity(); ?>" id="connectedUser" >
    <div class="div-impot-a-declarer"  id='export'>
        <div class="title_orange">Liste de vos activités <?= ( empty($form->get('start')->getValue()) && empty($form->get('end')->getValue()) && empty($form->get('executionState')->getValue()) ) ? ' (semaine du '.$this->dernierLundi.')' : '' ?></div>
        
        <table id ="tableau" width="100%" class="table table-hover table-mini dataTable" >
            <thead>
                <!--
                <tr>
                <th width="15%" rowspan="2" style="background-color: #009177; color:#FFF; vertical-align: middle;"><div>Domaine / Réunion / Projet</div></th>
                <th width="15%" rowspan="2" style="background-color: #009177; color:#FFF; vertical-align: middle;"><div>Activités</div></th>
                <th width="20%" colspan="2" style="background-color: #009177; color:#FFF;"><div align="center">Echéance</div></th>
                <th width="15%" rowspan="2" style="background-color: #009177; color:#FFF; vertical-align: middle;"><div align="center">Etat d'exécution</div></th>
                <th width="15%" rowspan="2" style="background-color: #009177; color:#FFF; vertical-align: middle;"><div>Observations</div></th>
                <th width="10%" rowspan="2" style="background-color: #009177; color:#FFF; vertical-align: middle;"><div align="center">Actions</div></th>
                </tr>
                <tr>
                <th style="background-color: #009177; color:#FFF;"><div>Date de début</div></th>
                <th style="background-color: #009177; color:#FFF;"><div>Date de fin</div></th>
                </tr>
                -->
                <tr>
                <th width="15%" style="vertical-align: middle;"><div>Domaine / Réunion / Projet</div></th>
                <th width="25%" style="vertical-align: middle;"><div>Activités</div></th>
                <th width="12%" style="vertical-align: middle;"><div>Date d'échéance</div></th>
                <th width="12%" style="vertical-align: middle;"><div>Date de début</div></th>
                <th width="10%" style="vertical-align: middle;"><div>Date de fin</div></th>
                <th width="13%" style="vertical-align: middle;"><div>Etat d'exécution</div></th>
                <th width="10%" style="vertical-align: middle;"><div align="center">Pourcentage</div></th>
                <th width="15%" style="vertical-align: middle;"><div>Observations</div></th>
                <th width="10%" style="vertical-align: middle;"><div align="center">Actions</div></th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
    
    <div id="loadingAnimation" style="display: none">
        <br/>
        <br/>
        <div id="fountain">
        <div id="fountainG_1" class="fountainG"></div>
        <div id="fountainG_2" class="fountainG"></div>
        <div id="fountainG_3" class="fountainG"></div>
        <div id="fountainG_4" class="fountainG"></div>
        <div id="fountainG_5" class="fountainG"></div>
        <div id="fountainG_6" class="fountainG"></div>
        <div id="fountainG_7" class="fountainG"></div>
        <div id="fountainG_8" class="fountainG"></div>
        </div>
    </div>
    
    <?php
    
$heredocLettrage=<<<EOT
    <div class="modal-confirmation">
    <div class="titre"></div>
    <div class="text1"> <div id="bTxt">Vous êtes sur le point de supprimer ce point d'activités.<br/><br/>Voulez-vous vraiment le supprimer ?</div> </div><br />
   <div class="text3">
 
    </div>
    </div>
        
    <div id="fountain" style="display: none;">
	<div id="fountainG_1" class="fountainG"></div>
	<div id="fountainG_2" class="fountainG"></div>
	<div id="fountainG_3" class="fountainG"></div>
	<div id="fountainG_4" class="fountainG"></div>
	<div id="fountainG_5" class="fountainG"></div>
	<div id="fountainG_6" class="fountainG"></div>
	<div id="fountainG_7" class="fountainG"></div>
	<div id="fountainG_8" class="fountainG"></div>
    </div>
    <br/>
EOT
;  

    $buttonsLettrage=<<<EOT
    <div class="modal-annulation-paiement-buttons">
        <div class="col-sm-6"><a href="javascript:close('confirmer-suppression')" class="btn btn-warning fermer-btn" id="fermer-btn-mandat">Fermer</a></div>
        <div class="col-sm-6"><a href="#" class="btn btn-success confirmer-btn" id="confirmer-btn-mandat">OK</a></div>
    </div>  
EOT
;
 

echo $this->partial('partial/modal.phtml',
    array('tr'=>$this->tr,
    'titre' => "confirmation de la suppression",
    'class'=>'modal-confirmation',
    'id'=>'confirmer-suppression',
    'content' => $heredocLettrage,
    'footer' => $buttonsLettrage)
   )
   ;

    
$bodyModalCollab=<<<EOT
    <div class="modal-confirmation">
        <form method="POST" action="" id="frmCollab">
        <div class="titre"></div>
        <div class="text1 ctnCollab" id="bodyModalCollab"> 
            
        </div><br />
        <div class="text3">
 
        </div>
        </form>
    </div>
        
    
    <br/>
EOT
; 

$buttonsCollab=<<<EOT
    <div class="modal-annulation-paiement-buttons">
        <div class="col-sm-6"><a href="javascript:close('modal-collaborateurs')" class="btn btn-warning fermer-btn" id="fermer-btn-mandat">Fermer</a></div>
        <div class="col-sm-6"><a href="javascript:$('#frmCollab').submit()" class="btn btn-success confirmer-btn" id="confirmer-btn-mandat">VALIDER</a></div>
    </div>  
EOT
;

echo $this->partial('partial/modal.phtml',
    array('tr'=>$this->tr,
    'titre' => "Collaborateurs sur l'activités",
    'class'=>'modal-confirmation',
    'id'=>'modal-collaborateurs',
    'content' => $bodyModalCollab,
    'footer' => $buttonsCollab)
   )
   ;
    
    $waitingCircle=<<<EOT
     <div id="floatingBarsG">
    <div class="blockG" id="rotateG_01"></div>
    <div class="blockG" id="rotateG_02"></div>
    <div class="blockG" id="rotateG_03"></div>
    <div class="blockG" id="rotateG_04"></div>
    <div class="blockG" id="rotateG_05"></div>
    <div class="blockG" id="rotateG_06"></div>
    <div class="blockG" id="rotateG_07"></div>
    <div class="blockG" id="rotateG_08"></div>
</div>
EOT
;   

    echo $this->partial('partial/modal.phtml',
    array('tr'=>$this->tr,
    'class'=>'popup-waiting-circle',
    'id'=>'popup-waiting-circle',
    'content' => $waitingCircle)
   )
   ;

?>
    
    <?php echo $this->partial('partial/finContent.phtml'); ?> 
</div>

<script>
    function exportToWord(){
        $('#tableau').tableExport({ type: 'doc', escape: false });
    }
</script>


