<?php
    echo $this->partial('partial/header_datatable.phtml',array());
?>
<?php
$this->headTitle('Points d\'activités de mes services');

$this->mainMenu()->setActiveItemId('point');
$this->pageBreadcrumbs()->setItems([
            'Home'=>$this->url('home'),
            'Manage Roles'=>$this->url('roles'),
            ]);

$form->get('service')->setAttributes([
    'id'=>'service',
    'class'=>'form-control',
    ]);

$form->get('start')->setAttributes([
    'id'=>'start',
    'class'=>'form-control',
    ]);

$form->get('end')->setAttributes([
    'id'=>'end',
    'class'=>'form-control',
    ]);
$form->get('executionState')->setAttributes([
    'id'=>'executionState',
    'class'=>'form-control',
    ]);
?>
<?= $this->flashMessenger()->render('error', ['alert', 'alert-warning']); ?>
<?= $this->flashMessenger()->render('success', ['alert', 'alert-success']); ?>
<?= $this->flashMessenger()->render('info', ['alert', 'alert-info']); ?>

<div class="starter-template zone-entreprise">
    
    <div class="panel panel-warning">
        <div class="panel-heading">Rechercher les points pour un agent donnée</div>
        <div class="panel-body">
            Sélectionner un agent à travers le formulaire ci-dessous pour afficher ses point d'activités, puis cliquez sur le bouton « Rechercher ».
            
            <?php /*echo $this->partial('partial/debContent.phtml', 
                array(
                    'col' => 12,
                    'titre' =>  'Rechercher un point sur une période donnée',
                    'description' => 'Sélectionner la période dans le formulaire ci-dessous pour selon les points recherchés, puis cliquez sur le bouton « Rechercher ».',
                    'view' => $this,
                )
            ); */ ?>
            <br/><br/>
            <form method="POST" action="" id='form'>
                <div class="row form-group" style="align-content: center;">
                    <div class="col-sm-3">
                        <?= $this->formLabel( $form->get('service') ) ?>
                        <?= $this->formElement($form->get('service')); ?> 
                        <?= $this->formElementErrors()->render($form->get('service'), ['class' => 'help-block']) ?>
                    </div>
                    <div class="col-sm-2">
                        <?= $this->formLabel( $form->get('start') ) ?>
                        <?= $this->formElement($form->get('start')); ?> 
                        <?= $this->formElementErrors()->render($form->get('start'), ['class' => 'help-block']) ?>
                    </div>
                    <div class="col-sm-2">
                        <?= $this->formLabel( $form->get('end') ) ?>
                        <?= $this->formElement($form->get('end')); ?> 
                        <?= $this->formElementErrors()->render($form->get('end'), ['class' => 'help-block']) ?>
                    </div>
                    <div class="col-sm-3">
                        <?= $this->formLabel( $form->get('executionState') ) ?>
                        <?= $this->formElement($form->get('executionState')); ?> 
                        <?= $this->formElementErrors()->render($form->get('executionState'), ['class' => 'help-block']) ?>
                    </div>
                    <div class="col-sm-2" style="text-align:left;">
                        <br/>
                        <input type="submit" name = 'rechercher' class="btn btn-success btn-block"  value="Rechercher">
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <br/>
    <div class="row">
        <div class="col-sm-9">
            <div class="title_orange"><i class="fa fa-chevron-circle-right"></i> POINT DES ACTIVITES DU SERVICE <?= ( empty($form->get('start')->getValue()) && empty($form->get('end')->getValue()) && empty($form->get('executionState')->getValue()) ) ? ' (semaine du '.$this->dernierLundi.')' : '' ?></div>
        </div>
        <div class="col-sm-3 text-right">
            
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <form id="frmExportExcel" target="_blank" method="POST" action="<?=$this->basePath('ajax/exportSousDirectionExcel') ?>">
                <input type="hidden" name="start" value="<?=$form->get('start')->getValue() ?>" />
                <input type="hidden" name="end" value="<?=$form->get('end')->getValue() ?>" />
                <input type="hidden" name="service" value="<?=$form->get('service')->getValue() ?>" />
                <input type="hidden" name="executionState" value="<?=$form->get('executionState')->getValue() ?>" />
            </form>
            <a id="exportExcel2" href="#" class="btn btn-success btn-xs" style="border:1px; margin:3px 10px;">
                <button type="button" class="btn-primary btn-xs" style="background: #FFF; border: 1px; color: green; margin-left: -4px"><i class="fa fa-download"></i></button>
                &nbsp;&nbsp;&nbsp;<b>Excel</b>&nbsp;&nbsp;&nbsp;
            </a>
        </div>
    </div>
    
    <hr/>
    
    <?php foreach ($mySubDirectionServices as $mySubDirectionService): ?>
    <?php ob_start() ?>
    <div class="div-impot-a-declarer">
        <div class="title-section2"><i class="fa fa-caret-square-o-down"></i> Points d'activités du <b><?= $mySubDirectionService->getServiceName(); ?></b></div>
        <table id ="tableau" width="100%" class="table table-hover table-mini dataTable" >
            <thead>
                <tr>
                <th width="17%"><div>Domaine / Réunion / Projet</div></th>
                <th width="17%"><div align = "center">Activités</div></th>
                <th width="10%"><div align = "center">Date échéance</div></th>
                <th width="10%"><div>Date de début</div></th>
                <th width="10%"><div>Date de fin</div></th>
                <th width="10%"><div>Etat d'exécution</div></th>
                <th width="17%"><div>Observations</div></th>
                <th width="15%"><div>Agents</div></th>
                <th width="3%"><div>Validé</div></th>
                </tr>
            </thead>
            <tbody>
                <?php 
                $findElement = false;
                foreach ($pointsList as $point):
                    if($point['service'] == $mySubDirectionService->getId()){
                        $findElement = true;
                        $point['expiryDate'] = implode('/', array_reverse(explode('-', $point['expiryDate'])));
                        $point['startDate'] = implode('/', array_reverse(explode('-', $point['startDate'])));
                        $point['endDate'] = implode('/', array_reverse(explode('-', $point['endDate'])));?>
                        <tr>
                            <td>
                                <?= $this->escapeHtml($point['projectName']); ?>
                            </td>
                            <td>
                                <?= $this->escapeHtml($point['activity']); ?>
                            </td>
                            <td>
                                <?= $this->escapeHtml($point['expiryDate']=='00/00/0000'?'-':$point['expiryDate']); ?>
                            </td>
                            <td>
                                <?= $this->escapeHtml($point['startDate']); ?>
                            </td>
                            <td>
                                <?= $this->escapeHtml($point['endDate']=='00/00/0000'?'-':$point['endDate']); ?>
                            </td>
                            <td>
                                <?= $this->escapeHtml($point['stateName']); ?>
                            </td>
                            <td>
                                <?= $this->escapeHtml($point['observation']); ?>
                            </td>
                            <td>
                                <span id="<?= $this->escapeHtml($point['id']); ?>" style="display: none;">
                                     <?php for($i=0; $i< count($point['agents']); $i++){?>
                                        <i class="fa fa-user"></i> <?= $this->escapeHtml($point['agents'][$i]); ?><br><br>
                                    <?php } ?>
                                </span>
                                <button class="btn btn-success" href="#" onclick='showCollabModal("<?= str_replace("\'", "\\'", $this->escapeHtml($point['activity'])) ?>", "<?= $this->escapeHtml($point['id']); ?>")'><i class="fa fa-users"></i></button>
                            </td>
                            <td style="text-align: left;">
                                <?php if(array_key_exists($point['id'], $validation)){?>
                                    <img src="<?= $this->basePath('assets/img/checked.png'); ?>" height="30" alt="Validé par le chef de service" title="Validé par le chef de service.">
                                <?php } ?>
                            </td>
                        </tr>
                    <?php } ?>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <?php 
        if($findElement){
            echo ob_get_clean();
        }
        else{
            ob_end_clean();
        }
        endforeach; 
    ?>
    
    <?php
    $bodyModalCollab=<<<EOT
    <div class="modal-confirmation">
        <div class="titre"></div>
        <div class="text1 ctnCollab" id="bodyModalCollab"> 
            
        </div>
    </div>
EOT
; 

echo $this->partial('partial/modal.phtml',
    array('tr'=>$this->tr,
    'titre' => "Collaborateurs sur l'activité",
    'class'=>'modal-confirmation',
    'id'=>'modal-collaborateurs',
    'content' => $bodyModalCollab)
   )
   ;
?>
    
    <?php echo $this->partial('partial/finContent.phtml'); ?> 
</div>



