<?php
    echo $this->partial('partial/header_datatable.phtml',array());
?>
<?php
$this->headTitle('Points d\'activités de mes agents');

$this->mainMenu()->setActiveItemId('point');
$this->pageBreadcrumbs()->setItems([
            'Home'=>$this->url('home'),
            'Manage Roles'=>$this->url('roles'),
            ]);

$form->get('agent')->setAttributes([
    'id'=>'agent',
    'class'=>'form-control',
    ]);

$form->get('start')->setAttributes([
    'id'=>'start',
    'class'=>'form-control',
    ]);

$form->get('end')->setAttributes([
    'id'=>'end',
    'class'=>'form-control',
    ]);
$form->get('executionState')->setAttributes([
    'id'=>'executionState',
    'class'=>'form-control',
    ]);
?>

<div class="starter-template zone-entreprise">
    <?= $this->flashMessenger()->render('error', ['alert', 'alert-warning']); ?>
    <?= $this->flashMessenger()->render('success', ['alert', 'alert-success']); ?>
    <?= $this->flashMessenger()->render('info', ['alert', 'alert-info']); ?>
    <div class="panel panel-warning">
        <div class="panel-heading">Rechercher les points pour un agent donnée</div>
        <div class="panel-body">
            Sélectionner un agent à travers le formulaire ci-dessous pour afficher ses point d'activités, puis cliquez sur le bouton « Rechercher ».
            
            <?php /*echo $this->partial('partial/debContent.phtml', 
                array(
                    'col' => 12,
                    'titre' =>  'Rechercher un point sur une période donnée',
                    'description' => 'Sélectionner la période dans le formulaire ci-dessous pour selon les points recherchés, puis cliquez sur le bouton « Rechercher ».',
                    'view' => $this,
                )
            ); */ ?>
            <br/><br/>
            <form method="POST" action="" id='form'>
                <div class="row form-group" style="align-content: center;">
                    <div class="col-sm-3">
                        <?= $this->formLabel( $form->get('agent') ) ?>
                        <?= $this->formElement($form->get('agent')); ?> 
                        <?= $this->formElementErrors()->render($form->get('agent'), ['class' => 'help-block']) ?>
                    </div>
                    <div class="col-sm-2">
                        <?= $this->formLabel( $form->get('start') ) ?>
                        <?= $this->formElement($form->get('start')); ?> 
                        <?= $this->formElementErrors()->render($form->get('start'), ['class' => 'help-block']) ?>
                    </div>
                    <div class="col-sm-2">
                        <?= $this->formLabel( $form->get('end') ) ?>
                        <?= $this->formElement($form->get('end')); ?> 
                        <?= $this->formElementErrors()->render($form->get('end'), ['class' => 'help-block']) ?>
                    </div>
                    <div class="col-sm-3">
                        <?= $this->formLabel( $form->get('executionState') ) ?>
                        <?= $this->formElement($form->get('executionState')); ?> 
                        <?= $this->formElementErrors()->render($form->get('executionState'), ['class' => 'help-block']) ?>
                    </div>
                    <div class="col-sm-2" style="text-align:left;">
                        <br/>
                        <input type="submit" name = 'rechercher' class="btn btn-success btn-block"  value="Rechercher">
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <br/>
    <div class="row">
        <div class="col-sm-9">
            <div class="title_orange"><i class="fa fa-chevron-circle-right"></i> POINT DES ACTIVITES DU SERVICE <?= ( empty($form->get('start')->getValue()) && empty($form->get('end')->getValue()) && empty($form->get('executionState')->getValue()) ) ? ' (semaine du '.$this->dernierLundi.')' : '' ?></div>
        </div>
        <div class="col-sm-3 text-right">
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form id="frmExportExcel" target="_blank" method="POST" action="<?=$this->basePath('ajax/exportSuiviExcel') ?>">
                <input type="hidden" name="start" value="<?=$form->get('start')->getValue() ?>" />
                <input type="hidden" name="end" value="<?=$form->get('end')->getValue() ?>" />
                <input type="hidden" name="agent" value="<?=$form->get('agent')->getValue() ?>" />
                <input type="hidden" name="executionState" value="<?=$form->get('executionState')->getValue() ?>" />
            </form>
            <form id="frmValidatePoints"  method="POST" action="">
                <input type="hidden" name="start" value="<?=$form->get('start')->getValue() ?>" />
                <input type="hidden" name="end" value="<?=$form->get('end')->getValue() ?>" />
                <input type="hidden" name="agent" value="<?=$form->get('agent')->getValue() ?>" />
                <input type="hidden" name="executionState" value="<?=$form->get('executionState')->getValue() ?>" />
            </form>
            <a id="validatePoints2" href="#" class="btn btn-primary btn-xs" style="border:1px; margin:3px 10px;">
                <button type="button" class="btn-primary btn-xs" style="background: #FFF; border: 1px; color: #428bca; margin-left: -4px"><i class="fa fa-check"></i></button>
                &nbsp;&nbsp;&nbsp;<b>Valider tous ces points</b>&nbsp;&nbsp;&nbsp;
            </a>
            <a id="exportExcel2" href="#" class="btn btn-success btn-xs" style="border:1px; margin:3px 10px;">
                <button type="button" class="btn-primary btn-xs" style="background: #FFF; border: 1px; color: green; margin-left: -4px"><i class="fa fa-download"></i></button>
                &nbsp;&nbsp;&nbsp;<b>Excel</b>&nbsp;&nbsp;&nbsp;
            </a>
        </div>
    </div>
    
    <hr/>
    
    <?php foreach ($myServiceUsers as $myServiceUser): 
        if(!empty($form->get('agent')->getValue()) && $form->get('agent')->getValue()!=$myServiceUser->getId()){
            continue;
        }
    ?>
    <?php ob_start() ?>
    <div class="div-impot-a-declarer">
        <div class="title-section2"><i class="fa fa-caret-square-o-down"></i> Points d'activités de <b><?= $myServiceUser->getFullName(); ?></b></div>
        <table id ="tableau" width="100%" class="table table-hover table-mini dataTable" >
            <thead>
                <tr>
                <th width="15%"><div>Domaine / Réunion / Projet</div></th>
                <th width="18%"><div align='center'>Activités</div></th>
                <th width="10%"><div align='center'>Date échéance</div></th>
                <th width="10%"><div align='center'>Date de début</div></th>
                <th width="10%"><div align='center'>Date de fin</div></th>
                <th width="10%"><div align='center'>Etat d'exécution</div></th>
                <th width="15%"><div align='center'>Observations</div></th>
                <th width="15%"><div align='center'>Actions</div></th>
                <th width="5%"><div>Validé</div></th>
                </tr>
            </thead>
            <tbody>
                <?php 
                $findElement = false;
                foreach ($pointsList as $point):
                    if($point['email'] == $myServiceUser->getEmail()){
                        $findElement = true;
                        $point['expiryDate'] = implode('/', array_reverse(explode('-', $point['expiryDate'])));
                        $point['startDate'] = implode('/', array_reverse(explode('-', $point['startDate'])));
                        $point['endDate'] = implode('/', array_reverse(explode('-', $point['endDate'])));?>
                        <tr>
                            <td>
                                <?= $this->escapeHtml($point['projectName']); ?>
                            </td>
                            <td>
                                <?= $this->escapeHtml($point['activity']); ?>
                            </td>
                            <td>
                                <?= $this->escapeHtml($point['expiryDate']=='00/00/0000'?'-':$point['expiryDate']); ?>
                            </td>
                            <td>
                                <?= $this->escapeHtml($point['startDate']); ?>
                            </td>
                            <td>
                                <?= $this->escapeHtml($point['endDate']=='00/00/0000'?'-':$point['endDate']); ?>
                            </td>
                            <td>
                                <?= $this->escapeHtml($point['stateName']); ?>
                            </td>
                            <td>
                                <?= $this->escapeHtml($point['observation']); ?>
                            </td>
                            <td style="text-align: center;" class="menu-action rounded-btn">
                                <a data-hint="Modifier" href="<?= $this->url('pointactivites', 
                                        ['action'=>'edit', 'id'=>$point['id']]); ?>"
                                   data-placement="top" class="btn menu-icon vd_bd-green vd_green hint--top"> 
                                    <i class="fa fa-pencil-square-o fa-2x"></i> 
                                </a>                            
                                <a data-hint="Supprimer" data-placement="top" 
                                   href="javascript:deleteAction(<?= $this->escapeHtml($point['id']); ?>)" class="btn menu-icon vd_bd-red vd_red hint--top"> 
                                    <i class="fa fa-trash fa-2x"></i> 
                                </a>                           
                            </td>
                            <td style="text-align: left;">
                                <?php if(array_key_exists($point['id'], $validation)){?>
                                    <img src="<?= $this->basePath('assets/img/checked.png'); ?>" height="30" alt="Validé par le chef de service" title="Validé par le chef de service.">
                                <?php } ?>
                            </td>
                        </tr>
                    <?php } ?>
                <?php endforeach; ?>
                <?php 
                    if(!$findElement && !empty($form->get('agent')->getValue())){
                        echo '<tr> <td colspan="8" style="text-align:center"> Aucune activité trouvée </td> </tr>';
                        $findElement = true;
                    }
                ?>
            </tbody>
        </table>
    </div>
    <?php 
        if($findElement){
            echo ob_get_clean();
        }else{
            ob_end_clean();
        }
        endforeach; 
    ?>
    <br/>
    <div class="row">
        <div class="col-sm-12 text-right">
            <a id="validatePoints" href="#" class="btn btn-primary btn-xs" style="border:1px; margin:3px 10px;">
                <button type="button" class="btn-primary btn-xs" style="background: #FFF; border: 1px; color: #428bca; margin-left: -4px"><i class="fa fa-check"></i></button>
                &nbsp;&nbsp;&nbsp;<b>Valider tous ces points</b>&nbsp;&nbsp;&nbsp;
            </a>
            <a id="exportExcel" href="#" class="btn btn-success btn-xs" style="border:1px; margin:3px 10px;">
                <button type="button" class="btn-primary btn-xs" style="background: #FFF; border: 1px; color: green; margin-left: -4px"><i class="fa fa-download"></i></button>
                &nbsp;&nbsp;&nbsp;<b>Excel</b>&nbsp;&nbsp;&nbsp;
            </a>
        </div>
    </div>
    <?php
    
$heredocLettrage=<<<EOT
    <div class="modal-confirmation">
    <div class="titre"></div>
    <div class="text1"> <div id="bTxt">Vous êtes sur le point de supprimer ce point d'activités.<br/><br/>Voulez-vous vraiment le supprimer ?</div> </div><br />
   <div class="text3">
 
    </div>
    </div>
        
    <div id="fountain" style="display: none;">
	<div id="fountainG_1" class="fountainG"></div>
	<div id="fountainG_2" class="fountainG"></div>
	<div id="fountainG_3" class="fountainG"></div>
	<div id="fountainG_4" class="fountainG"></div>
	<div id="fountainG_5" class="fountainG"></div>
	<div id="fountainG_6" class="fountainG"></div>
	<div id="fountainG_7" class="fountainG"></div>
	<div id="fountainG_8" class="fountainG"></div>
    </div>
    <br/>
EOT
;  

    $buttonsLettrage=<<<EOT
    <div class="modal-annulation-paiement-buttons">
        <div class="col-sm-6"><a href="javascript:close()" class="btn btn-warning fermer-btn" id="fermer-btn-mandat">Fermer</a></div>
        <div class="col-sm-6"><a href="#" class="btn btn-success confirmer-btn" id="confirmer-btn-mandat">OK</a></div>
    </div>  
EOT
;

echo $this->partial('partial/modal.phtml',
    array('tr'=>$this->tr,
    'titre' => "confirmation de la suppression",
    'class'=>'modal-confirmation',
    'id'=>'confirmer-suppression',
    'content' => $heredocLettrage,
    'footer' => $buttonsLettrage)
   )
   ;
    
    $waitingCircle=<<<EOT
     <div id="floatingBarsG">
    <div class="blockG" id="rotateG_01"></div>
    <div class="blockG" id="rotateG_02"></div>
    <div class="blockG" id="rotateG_03"></div>
    <div class="blockG" id="rotateG_04"></div>
    <div class="blockG" id="rotateG_05"></div>
    <div class="blockG" id="rotateG_06"></div>
    <div class="blockG" id="rotateG_07"></div>
    <div class="blockG" id="rotateG_08"></div>
</div>
EOT
;   

    echo $this->partial('partial/modal.phtml',
    array('tr'=>$this->tr,
    'class'=>'popup-waiting-circle',
    'id'=>'popup-waiting-circle',
    'content' => $waitingCircle)
   )
   ;

?>
    
    <?php echo $this->partial('partial/finContent.phtml'); ?> 
</div>

<script>
   
    function close(){
        $('#confirmer-suppression').modal('hide');
    }
    
    function deleteAction(id){
        $('#confirmer-suppression').modal('show');
        $("#confirmer-btn-mandat").attr('href', 'http://localhost/monpointactivite/public/pointactivites/delete/'+id);
    }
    
</script>


