<?php
$this->headTitle('Ajout utilisateur');

$this->mainMenu()->setActiveItemId('users');

$this->pageBreadcrumbs()->setItems([
            'Home'=>$this->url('home'),
            'Manage Users'=>$this->url('users'),
            'Add User'=>$this->url('users', ['action'=>'add'])
            ]);

$form->get('email')->setAttributes([
    'class'=>'form-control'
    
    ]);

$form->get('full_name')->setAttributes([
    'class'=>'form-control'
    ]);

$form->get('job')->setAttributes([
    'class'=>'form-control'
    ]);

$form->get('function')->setAttributes([
    'class'=>'form-control',
    'id'=>'function'
    ]);

$form->get('service')->setAttributes([
    'class'=>'form-control',
    'id'=>'service'
    ]);

$form->get('status')->setAttributes([
    'class'=>'form-control'
    ]);

$form->get('password')->setAttributes([
    'class'=>'form-control'
    ]);

$form->get('confirm_password')->setAttributes([
    'class'=>'form-control'
    ]);

$form->get('roles')->setAttributes([
    'class'=>'form-control'
    ]);

$form->get('annuler')->setAttributes(['class'=>'btn btn-warning']);
$form->get('submit')->setAttributes(['class'=>'btn btn-success'])
                    ->setValue('Créer');

$form->prepare();
?>

<div class="starter-template zone-entreprise">
    <div class="div-impot-a-declarer">
        <div class="title_orange">Ajouter un utilisateur</div>
        <?= $this->form()->openTag($form); ?>
            <div class="row form-group">
                <div class="col-sm-6"><label><?= $this->formLabel($form->get('email')); ?><span class="star">&#160;*</span></label></div>
                <div class="col-sm-6"><?= $this->formElement($form->get('email')); ?></div>
                <div class="col-sm-12 errors"><?= $this->formElementErrors($form->get('email')); ?></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6"><label><?= $this->formLabel($form->get('full_name')); ?><span class="star">&#160;*</span></label></div>
                <div class="col-sm-6"><?= $this->formElement($form->get('full_name')); ?></div>
                <div class="col-sm-12 errors"><?= $this->formElementErrors($form->get('full_name')); ?></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6"><label><?= $this->formLabel($form->get('job')); ?><span class="star">&#160;*</span></label></div>
                <div class="col-sm-6"><?= $this->formElement($form->get('job')); ?></div>
                <div class="col-sm-12 errors"><?= $this->formElementErrors($form->get('job')); ?></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6"><label><?= $this->formLabel($form->get('function')); ?><span class="star">&#160;*</span></label></div>
                <div class="col-sm-6"><?= $this->formElement($form->get('function')); ?></div>
                <div class="col-sm-12 errors"><?= $this->formElementErrors($form->get('function')); ?></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6"><label><?= $this->formLabel($form->get('service')); ?><span class="star">&#160;*</span></label></div>
                <div class="col-sm-6"><?= $this->formElement($form->get('service')); ?></div>
                <div class="col-sm-12 errors"><?= $this->formElementErrors($form->get('service')); ?></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6"><label><?= $this->formLabel($form->get('password')); ?><span class="star">&#160;*</span></label></div>
                <div class="col-sm-6"><?= $this->formElement($form->get('password')); ?></div>
                <div class="col-sm-12 errors"><?= $this->formElementErrors($form->get('password')); ?></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6"><label><?= $this->formLabel($form->get('confirm_password')); ?><span class="star">&#160;*</span></label></div>
                <div class="col-sm-6"><?= $this->formElement($form->get('confirm_password')); ?></div>
                <div class="col-sm-12 errors"><?= $this->formElementErrors($form->get('confirm_password')); ?></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6"><label><?= $this->formLabel($form->get('status')); ?><span class="star">&#160;*</span></label></div>
                <div class="col-sm-6"><?= $this->formElement($form->get('status')); ?></div>
                <div class="col-sm-12 errors"><?= $this->formElementErrors($form->get('status')); ?></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6"><label><?= $this->formLabel($form->get('roles')); ?><span class="star">&#160;*</span></label></div>
                <div class="col-sm-6"><?= $this->formElement($form->get('roles')); ?></div>
                <div class="col-sm-12 errors"><?= $this->formElementErrors($form->get('roles')); ?></div>
            </div>
            <?= $this->formElement($form->get('csrf')); ?>
            <?= $this->formElementErrors($form->get('csrf')); ?>
            <div class="row">
                <div class="col-sm-6 col-xs-12 retour"><?= $this->formElement($form->get('annuler')); ?></div>
                <div class="col-sm-6 col-xs-12 enregistrer" style="text-align:right;"><?= $this->formElement($form->get('submit')); ?></div>
            </div>
        <?= $this->form()->closeTag(); ?>
    </div>
    <?php echo $this->partial('partial/finContent.phtml'); ?> 
</div>