<?php
$this->headTitle('Change Password');

$this->mainMenu()->setActiveItemId('users');

$this->pageBreadcrumbs()->setItems([
            'Home'=>$this->url('home'),
            'Manage Users'=>$this->url('users'),
            'Change Password'=>$this->url('users', ['action'=>'change-password', 'id'=>$user->getId()])
            ]);

$form->get('old_password')->setAttributes([
    'class'=>'form-control', 
    'placeholder'=>'Entrez votre mot de passe actuel',
    'size'=>30
    ]);

$form->get('new_password')->setAttributes([
    'class'=>'form-control', 
    'placeholder'=>'Entrez le nouveau mot de passe',
    'size'=>30
    ]);

$form->get('confirm_new_password')->setAttributes([
    'class'=>'form-control', 
    'placeholder'=>'Confirmez le nouveau mot de passe',
    'size'=>30
    ]);

$form->get('submit')->setAttributes(['class'=>'btn btn-success']);
$form->get('annuler')->setAttributes(['class'=>'btn btn-warning']);
$form->prepare();
?>

<div class="starter-template zone-entreprise">
    <div class="div-impot-a-declarer">
        <div class="title_orange">Modification de mot de passe</div>
        <?= $this->form()->openTag($form); ?>
            <div class="row form-group">
                <div class="col-sm-6"><label><?= $this->formLabel($form->get('old_password')); ?><span class="star">&#160;*</span></label></div>
                <div class="col-sm-6"><?= $this->formElement($form->get('old_password')); ?></div>
                <div class="col-sm-12 errors"><?= $this->formElementErrors($form->get('old_password')); ?></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6"><label><?= $this->formLabel($form->get('new_password')); ?><span class="star">&#160;*</span></label></div>
                <div class="col-sm-6"><?= $this->formElement($form->get('new_password')); ?></div>
                <div class="col-sm-12 errors"><?= $this->formElementErrors($form->get('new_password')); ?></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6"><label><?= $this->formLabel($form->get('confirm_new_password')); ?><span class="star">&#160;*</span></label></div>
                <div class="col-sm-6"><?= $this->formElement($form->get('confirm_new_password')); ?></div>
                <div class="col-sm-12 errors"><?= $this->formElementErrors($form->get('confirm_new_password')); ?></div>
            </div>
            <?= $this->formElement($form->get('csrf')); ?>
            <?= $this->formElementErrors($form->get('csrf')); ?>
            <div class="row">
                <div class="col-sm-6 col-xs-12 retour"><?= $this->formElement($form->get('annuler')); ?></div>
                <div class="col-sm-6 col-xs-12 enregistrer" style="text-align:right;"><?= $this->formElement($form->get('submit')); ?></div>
            </div>
        <?= $this->form()->closeTag(); ?>
    </div>
    <?php echo $this->partial('partial/finContent.phtml'); ?> 
</div>