<?php
    echo $this->partial('partial/header_datatable.phtml',array());
?>
<?php
$this->headTitle('Utilisateurs');

$this->mainMenu()->setActiveItemId('users');
$this->pageBreadcrumbs()->setItems([
            'Home'=>$this->url('home'),
            'Manage Users'=>$this->url('users'),
            ]);
?>
    <style>
        .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:60px;
	right:40px;
        z-index: 10;
	background-color:orange;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:25px;
}
    </style>

<a href="<?= $this->url('users', ['action'=>'add']); ?>" class="float">
<i class="fa fa-plus my-float"></i>
</a>
<p></p>

<div class="starter-template zone-entreprise">
    
    <div class="div-impot-a-declarer">
        <div class="title_orange">Liste des utilisateurs</div>
        <table class="table table-hover table-mini dataTable" id="tableau">
            <thead>
                <tr>
                    <th width="15%"><div align="center">Email</div></th>
                    <th width="15%"><div align="center">Nom et prénom(s)</div></th>
                    <th width="15%"><div align="center">Emploi</div></th>
                    <th width="10%"><div align="center">Fonction</div></th>
                    <th width="18%"><div align="center">Service</div></th>
                    <th width="10%"><div align="center">Rôle(s)</div></th>
                    <th width="8%"><div align="center">Statut</div></th>
                    <th width="15%"><div align="center">Actions</div></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($users as $user): 
                    if($user->getFunction() == "Sous-Directeur"){
                       $service = $subDirections[$user->getService()];
                    }else{
                        $service = $services[$user->getService()];
                    }
                ?>
                <tr>
                    <td>
                        <?= $this->escapeHtml($user->getEmail()); ?>
                    </td>
                    <td>
                        <?= $this->escapeHtml($user->getFullName()); ?> 
                    </td>
                    <td>
                        <?= $this->escapeHtml($user->getJob()); ?> 
                    </td>
                    <td>
                        <?= $this->escapeHtml($user->getFunction()); ?> 
                    </td>
                    <td>
                        <?= $this->escapeHtml($service); ?> 
                    </td>
                    <td>
                        <?= $this->escapeHtml($user->getRolesAsString()); ?> 
                    </td>       
                    <td style="text-align: center;"><?= $this->escapeHtml($user->getStatusAsString()); ?></td>
                    <td style="text-align: center;" class="menu-action rounded-btn">
                        <a data-hint="Modifier ses informations"  href="<?= $this->url('users', 
                                ['action'=>'edit', 'id'=>$user->getId()]); ?>"
                           data-placement="top" class="btn menu-icon vd_bd-green vd_green hint--top"> 
                            <i class="fa fa-pencil-square-o fa-2x"></i> 
                        </a>                          
                    </td>
                </tr>
                <?php endforeach; ?> 
            </tbody>
        </table>
    </div>
    
    <?php echo $this->partial('partial/finContent.phtml'); ?> 
</div>

<script>
    $(function () {
        // dès le chargement de la page, on remplit la liste des directions
        $( "#tableau" ).dataTable({
            oLanguage: {sUrl: basePath + '/assets/js/jquery.dataTables/jquery.dataTables.fr.json'},
        });
        
    });
</script>