<?php
$this->headTitle('Merci !');
?>

<div class="starter-template zone-entreprise">
    <div class="row">
        <div class="col-md-offset-4 col-md-5">
            <h1>Réinitialisation de mot de passe</h1>

            <?php if ($id=='sent'): ?>
                <p>
                    Un email de réinitialisation vous a été envoyé. Veuillez consulter vos emails.
                </p>
            <?php elseif ($id=='invalid-email'): ?>
                <p>
                    L'utilisateur avec ce email n'existe pas ou est inactif.
                </p>
            <?php elseif ($id=='set'): ?>
                <p>
                    Votre mot de passe été réinitialisé avec succès.
                </p>
                <p>
                    Veuillez vous <a href="<?= $this->url('login'); ?>">Connecter</a>.
                </p>
            <?php elseif ($id=='failed'): ?>
                <p>
                    Votre lien de réinitialisation a expirée. Veuillez faire une nouvelle demande
                    <a href="<?= $this->url('reset-password') ?>">Ici</a>.
                </p>
            <?php endif; ?>
        </div>
    </div>
    <?php echo $this->partial('partial/finContent.phtml'); ?> 
</div>
