<?php

$form->get('email')->setAttributes([
    'class'=>'form-control', 
    'placeholder'=>'Adresse email',
    'required' => true,
    'autofocus' => true
    ])->setLabelAttributes([
        'class' => 'sr-only'
    ]);

$form->get('captcha')->setAttributes([
    'class'=>'form-control',
    'required' => true
    ])->setLabelAttributes([
        'class' => 'sr-only'
    ]);

$form->get('submit')->setAttributes([
    'class'=>'btn btn-large',
    'style'=>'background-color:#20b2aa;color:white;'
    ]);

$form->prepare();
?>

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Réinitialisation de mot de passe | e-securisation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/bootstrap.min.css';?>">
    <!-- font awesome CSS
		============================================ -->
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/font-awesome.min.css';?>">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/owl.carousel.css';?>">
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/owl.theme.css';?>">
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/owl.transitions.css';?>">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/animate.css';?>">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/normalize.css';?>">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/scrollbar/jquery.mCustomScrollbar.min.css';?>">
    <!-- wave CSS
		============================================ -->
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/wave/waves.min.css';?>">
    <!-- Notika icon CSS
		============================================ -->
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/notika-custom-icon.css';?>">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/main.css';?>">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/style.css';?>">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/responsive.css';?>">
    <!-- modernizr JS
		============================================ -->
    <script src="<?php echo $this->basePath().'/assets/js/vendor/modernizr-2.8.3.min.js';?>"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Login Register area Start-->
    <div class="login-content">    
        <!-- Forgot Password -->
        <div class="nk-block toggled" id="l-forget-password">
            <div class="nk-form">
                <p class="text-left">Veuillez entrez votre adresse e-mail pour réinitialiser votre mot de passe.</p>
                <?= $this->form()->openTag($form); ?>
                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-mail"></i></span>
                    <div class="nk-int-st">
                        <?= $this->formElement($form->get('email')); ?>
                    </div>
                </div>
                <div class="input-group">
                    <div class="nk-int-st">
                        <?= $this->formElement($form->get('captcha')); ?>
                    </div>
                    
                        <p class="hint">Entrez les lettres affichées ci-dessus.</p>
                </div>
                
                <?= $this->formElement($form->get('submit')); ?>

                <?= $this->formElement($form->get('csrf')); ?>
                
                <?= $this->form()->closeTag(); ?>
            </div>
            <div class="nk-navigation nk-lg-ic rg-ic-stl">
                <a href="<?= $this->url('home') ?>" data-ma-block="#l-register"><i class="notika-icon notika-house"></i> <span>Accueil</span></a>
                <a href="<?= $this->url('login') ?>" data-ma-block="#l-forget-password"><i class="notika-icon notika-right-arrow"></i> <span>Authentification</span></a>
            </div>
        </div>
    </div>
    <!-- Login Register area End-->
    <!-- jquery
		============================================ -->
    <script src="<?php echo $this->basePath().'/assets/js/vendor/jquery-1.12.4.min.js'; ?>"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="<?php echo $this->basePath().'/assets/js/bootstrap.min.js'; ?>"></script>
    <!-- icheck JS
		============================================ -->
    <script src="<?php echo $this->basePath().'/assets/js/icheck/icheck.min.js'; ?>"></script>
    <script src="<?php echo $this->basePath().'/assets/js/icheck/icheck-active.js'; ?>"></script>
    <!-- Login JS
		============================================ -->
    <script src="<?php echo $this->basePath().'/assets/js/login/login-action.js'; ?>"></script>
    <!-- plugins JS
		============================================ -->
    <script src="<?php echo $this->basePath().'/assets/js/plugins.js'; ?>"></script>
    <!-- main JS
		============================================ -->
    <script src="<?php echo $this->basePath().'/assets/js/main.js'; ?>"></script>
</body>

</html>