<?php
$this->headTitle('View User');

$this->mainMenu()->setActiveItemId('users');

$this->pageBreadcrumbs()->setItems([
            'Home'=>$this->url('home'),
            'Manage Users'=>$this->url('users'),
            'View User'=>$this->url('users', ['action'=>'view', 'id'=>$user->getId()])
            ]);
?>

<div class="starter-template zone-entreprise">
    <?= $this->flashMessenger()->render('error', ['alert', 'alert-warning']); ?>
    <?= $this->flashMessenger()->render('success', ['alert', 'alert-success']); ?>
    <?= $this->flashMessenger()->render('info', ['alert', 'alert-info']); ?>
    <div class="title_orange">Informations sur : <span style="text-transform: uppercase;"><?= $this->escapeHtml($user->getFullName()) ?></span></div>
    <table width="100%" class="table table-bordered table-striped table-mini" >
        <tbody
            <tr>
                <th style="text-align: center">E-mail:</th>
                <td style="text-align: center"><?= $this->escapeHtml($user->getEmail()) ?></td>
            </tr>
            <tr>
                <th style="text-align: center">Nom et Prénom(s):</th>
                <td style="text-align: center"><?= $this->escapeHtml($user->getFullName()) ?></td>
            </tr>
            <tr>
                <th style="text-align: center">Date de création:</th>
                <td style="text-align: center"><?= $this->escapeHtml($user->getDateCreated()) ?></td>
            </tr>
            <tr>
                <th style="text-align: center">Statut:</th>
                <td style="text-align: center"><?= $this->escapeHtml($user->getStatusAsString()) ?></td>
            </tr>
            <tr>
                <th style="text-align: center">Rôles:</th>
                <td style="text-align: center"><?= $this->escapeHtml($user->getRolesAsString()) ?></td>
            </tr> 
        </tbody>
    </table>
    <div class="row" style="margin-top: 25px;">
        <div class="col-md-4">

        </div>
        <div class="col-md-4" style="text-align: center;">
            <a style="margin-right: 10px;" class="btn btn-success" href="<?= $this->url('users', 
                ['action'=>'edit', 'id'=>$user->getId()]); ?>">
                <span class="fa fa-edit" ></span> Modifier
            </a>
            <a class="btn btn-success" href="<?= $this->url('users',
                    ['action'=>'change-password']); ?>">
                <span class="fa fa-asterisk"></span> Mot de passe
            </a>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <?php echo $this->partial('partial/finContent.phtml'); ?> 
</div>