/**
 * IKA Conseil application skeleton.
 * partie commune hors bootstrap. ne rien mettre de specifique ici.
 */

/**
 *  Author     : Pascal codry <pascal.codry@ikaconseil.com>
 */

.flash-success {
    display:block;
    width:100%;
    color:green;
    background: url("../img/true.png") no-repeat 5px 50% #C5FACC;
    /*background-position: 95% center;*/
    border:1px solid green;
    padding:6px 25px;
    font-size:12px;
    margin-top:5px;
    border-radius: 3px;
}

.flash-warning {
    display:block;
    width:100%;
    /*color:orange;*/
    color:#D06030;
    background: url("../img/false.png") no-repeat scroll 5px 50% moccasin;
    border:1px solid #D06030;
    padding:6px 25px;
    font-size:12px;
    margin-top:25px;
    border-radius: 3px;

}

.flash-danger {
    display:block;
    width:100%;
    color:red !important;
    background: url("../img/false.png") no-repeat scroll 5px 50% #FFD2D2 !important;
    border: 1px solid red !important;
    padding: 6px 25px;
    font-size: 12px;
    border-radius: 3px;

}

.flash2Messenger {
    margin-bottom: 20px;
    margin-top: 20px;
}

.chartdiv {
	width		: 100%;
    height		: 500px;
	font-size	: 11px;    
}




.colonne-gauche {
    /*---- contrecarre le padding des classes col de bootstrap ----*/
    padding-left:0;
    padding-right:0;
}



.ms-options-wrap,
.ms-options-wrap * {
    box-sizing: border-box;
}

.ms-options-wrap > button:focus,
.ms-options-wrap > button {

}

.ms-options-wrap > button:after {

}

.ms-options-wrap > .ms-options {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 20px;
    background: white;
    z-index: 2000;
    border: 1px solid #aaa;
}

.ms-options-wrap > .ms-options > .ms-search input {
    width: 100%;
    padding: 4px 5px;
    border: none;
    border-bottom: 1px groove;
    outline: none;
}

.ms-options-wrap > .ms-options .ms-selectall {
    display: inline-block;
    font-size: .9em;
    text-transform: lowercase;
    text-decoration: none;
}
.ms-options-wrap > .ms-options .ms-selectall:hover {
    text-decoration: underline;
}

.ms-options-wrap > .ms-options > .ms-selectall.global {
    margin: 4px 5px;
}

.ms-options-wrap > .ms-options > ul > li.optgroup {
    padding: 5px;
}
.ms-options-wrap > .ms-options > ul > li.optgroup + li.optgroup {
    border-top: 1px solid #aaa;
}

.ms-options-wrap > .ms-options > ul > li.optgroup .label {
    display: block;
    padding: 5px 0 0 0;
    font-weight: bold;
}

.ms-options-wrap > .ms-options > ul label {
    position: relative;
    display: inline-block;
    width: 119%;
    padding: 1px 1px;
    background:white;
    margin: 1px -40px;
}

.ms-options-wrap > .ms-options > ul li.selected label,
.ms-options-wrap > .ms-options > ul label:hover {
    background-color: #efefef;
    
}

.ms-options-wrap > .ms-options > ul input[type="checkbox"] {
    padding-top:3px;
    margin-right: 15px;
    margin-left: 5px;

}

.label.myBadge{
    border-radius:20px;
    position: absolute !important;
    margin-top: -3px;
    margin-left: -8px;
    /*font-size: 9px;*/
    font-weight: bold;
    font-family: cursive;
}

.ctnCollab{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
}
