.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:60px;
	right:40px;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	z-index:1000;
	animation: bot-to-top 2s ease-out;
}

#fab-menu{
	position:fixed;
	right:44px;
	padding-bottom:20px;
	bottom:80px;
	z-index:100;
}

#fab-menu li{
	list-style:none;
	margin-bottom:15px;
}

#fab-menu li a{
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	width:50px;
	height:50px;
	display:block;
}

#fab-menu:hover{
	visibility:visible!important;
	opacity:1!important;
}


.my-float{
	font-size:24px;
	margin-top:16px;
}

a#menu-share + #fab-menu{
  visibility: hidden;
}

a#menu-share:hover + #fab-menu{
  visibility: visible;
  animation: scale-in 0.5s;
}

a#menu-share i{
	animation: rotate-in 0.5s;
}

a#menu-share:hover > i{
	animation: rotate-out 0.5s;
}

@keyframes bot-to-top {
    0%   {bottom:-40px}
    50%  {bottom:40px}
}

@keyframes scale-in {
    from {transform: scale(0);opacity: 0;}
    to {transform: scale(1);opacity: 1;}
}

@keyframes rotate-in {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotate-out {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}