<?= $this->doctype() ?>
<?php
    //var_dump( $this->mainMenu()->getConnectedUser()->getFullName() ); die;
?>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <?=$this->headTitle('MONPOINT')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?= $this->headMeta()
            ->appendName('viewport', 'Le portail e-arf.gouv.ci est le portail officiel de la Direction Générale des Impôts de Côte d’Ivoire permettant la demande en ligne des attestation de régualrité fiscale sur internet.')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
            ->appendName('description', 'width=device-width, initial-scale=1.0')
        ?>
        
        <link rel="shortcut icon" href="<?php echo $this->basePath().'/assets/img/favicon.png';?>">
        
        <!-- Le styles -->
        <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/common.css';?>">
        <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/bootstrap.min.css';?>">
        <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/font-awesome.min.css';?>">
        <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/js/jquery/css/jquery-ui.css';?>">
        <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/custom.css';?>">
        <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/loaders-style.css';?>">
        <link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/info-bulle.css';?>">
        
        
        
        <script src="<?php echo $this->basePath().'/assets/js/jquery/jquery.min.js'; ?>"></script>
        <script src="<?php echo $this->basePath().'/assets/js/jquery/jquery-ui.min.js'; ?>"></script>
        <script src="<?php echo $this->basePath().'/assets/js/jquery/jquery.editable.select.js'; ?>"></script>
        <script src="<?php echo $this->basePath().'/assets/js/jquery/jquery.autocomplete.js'; ?>"></script>
        
        <script src="<?php echo $this->basePath().'/assets/js/bootstrap.min.js'; ?>"></script>
        <script src="<?php echo $this->basePath().'/assets/js/commun/menu-deroulant.js'; ?>"></script>
        <script src="<?php echo $this->basePath().'/assets/js/commun/constantes.js'; ?>"></script>
        <script src="<?php echo $this->basePath().'/assets/js/commun/fonction.js'; ?>"></script>
        <script src="<?php echo $this->basePath().'/assets/js/commun/accordeon-societe.js'; ?>"></script>
        
        <!-- Customer JS -->
        <?php if (file_exists(__DIR__."/../../../../public/assets/js/js-pages/$this->controller/$this->action.js")){ ?>
        <script src="<?php echo $this->basePath()."/assets/js/js-pages/$this->controller/$this->action.js"; ?>"></script>
        <?php } ?>
        <script type="text/javascript"> var basePath = '<?=$this->basePath() ?>'; </script>
    </head>
    <body>
        <input type="hidden" value="<?php echo $this->basePath(); ?>" id="basePath" >
        
        <div class="menu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-9">
                        <div class="navbar-header">
                            <button type="button" style="z-index:300;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button> 
                    
                            <a class="navbar-brand" href="<?= $this->basePath('/'); ?>">
                                <img src="<?= $this->basePath('assets/img/logo.png'); ?>" height="65" alt="Logo MONPOINT" title="Logo de l'application de gestion des point d'activités à la DGI.">
                            </a>
                    <!--- partie translation -->
                    <!-- fin partie switch translation -->
                        </div> 
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-1">
                        
                    </div>
                    <div class="col-xs-6 col-sm-2">
                        <?php 
                        {
                            echo $this->partial('partial/helloBox.phtml',array(
                                'user' => $this->mainMenu()->getConnectedUser(),
                            ));
                        } ?>
                    </div>
                    
                </div>
            </div> 
        </div>
        <?php if ($this->identity()){ ?> 

        <div class="navbar navbar-inverse "  role="navigation">
            <div class="container-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 collapse navbar-collapse">
                            <?php
                                // Check if the activeMenuItemId passed to layout view model
                                // and if so, use it for setting active navbar item.
                                if (isset($activeMenuItemId)) {
                                    $this->mainMenu()->setActiveItemId($activeMenuItemId);
                                }
                                // Render the navbar
                                echo $this->mainMenu()->render();
                             ?>
                        </div>
                    </div>
                </div>
            </div>
                
        </div> 
        <?php }
        /*
        if( !empty($this->mainMenu()->getConnectedUser()) ){
            echo $this->partial('partial/hello_user.phtml',
                array('tr'=>$this->tr,
                    'user' => $this->mainMenu()->getConnectedUser(),
                    'service' => $this->mainMenu()->getUserServiceName($this->mainMenu()->getConnectedUser()->getService()),
               ));
        }
         * 
         */
        ?>
        <div class="container">
            <?= $this->content ?>
        </div>
        
        
        
        <?= $this->inlineScript() ?>

    <div class="footersouscontainer">
        <div class="container">
            <div class="copyright">
               <p><i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2019 – Direction Générale des Impôts – République de Côte d’Ivoire</p> 
            </div>
        </div>
    </div> 
</body>
</html>
