<?php
    echo $this->partial('partial/header_datatable.phtml',array());
?>
<?php
$this->headTitle('Services');

$this->mainMenu()->setActiveItemId('parametre');
$this->pageBreadcrumbs()->setItems([
            'Home'=>$this->url('home'),
            'Manage Roles'=>$this->url('roles'),
            ]);

?>
<link rel="stylesheet" href="<?php echo $this->basePath().'/assets/css/fab-button.css';?>">

<a href="<?= $this->url('services', ['action'=>'add']); ?>" class="btn-warning float" id="menu-share">
<i class="fa fa-plus my-float"></i>
</a>
<p></p>

<div class="starter-template zone-entreprise">
    <?= $this->flashMessenger()->render('error', ['alert', 'alert-warning']); ?>
    <?= $this->flashMessenger()->render('success', ['alert', 'alert-success']); ?>
    <?= $this->flashMessenger()->render('info', ['alert', 'alert-info']); ?>
    <div class="div-impot-a-declarer">
        <div class="title_orange">Liste des services</div>
        <table id ="tableau" width="100%" class="table table-hover table-mini dataTable" >
            <thead>
                <tr>
                    <th width="20%"><div align="center">Service</div></th>
                    <th width="20%"><div align="center">Sous-Direction</div></th>
                    <th width="10%"><div align="center">Ajouté par</div></th>
                    <th width="15%"><div align="center">Actions</div></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($services as $service): ?>
                <tr>
                    <td>
                        <?= $this->escapeHtml($service->getServiceName()); ?>
                    </td>
                    <td>
                        <?= $this->escapeHtml($subDirection[$service->getSubDirectionId()]); ?>
                    </td>     
                    <td style="text-align: center;"><?= $this->escapeHtml($service->getUserId()); ?></td>
                    <td style="text-align: center;" class="menu-action rounded-btn">
                        <a data-hint="Modifier"  href="<?= $this->url('services', 
                                ['action'=>'edit', 'id'=>$service->getId()]); ?>"
                           data-placement="top" class="btn menu-icon vd_bd-green vd_green hint--top"> 
                            <i class="fa fa-pencil-square-o fa-2x"></i> 
                        </a>                            
                        <a data-hint="Supprimer" data-placement="top" 
                           href="javascript:deleteAction(<?= $this->escapeHtml($service->getId()); ?>)" class="btn menu-icon vd_bd-red vd_red hint--top"> 
                            <i class="fa fa-trash fa-2x"></i> 
                        </a>                           
                    </td>
                </tr>
                <?php endforeach; ?> 
            </tbody>
        </table>
    </div>
    
    <?php
    
$heredocLettrage=<<<EOT
    <div class="modal-confirmation">
    <div class="titre"></div>
    <div class="text1"> <div id="bTxt">Vous êtes sur le point de supprimer ce service.<br/><br/>Voulez-vous vraiment le supprimer ?</div> </div><br />
   <div class="text3">
 
    </div>
    </div>
        
    <div id="fountain" style="display: none;">
	<div id="fountainG_1" class="fountainG"></div>
	<div id="fountainG_2" class="fountainG"></div>
	<div id="fountainG_3" class="fountainG"></div>
	<div id="fountainG_4" class="fountainG"></div>
	<div id="fountainG_5" class="fountainG"></div>
	<div id="fountainG_6" class="fountainG"></div>
	<div id="fountainG_7" class="fountainG"></div>
	<div id="fountainG_8" class="fountainG"></div>
    </div>
    <br/>
EOT
;  

    $buttonsLettrage=<<<EOT
    <div class="modal-annulation-paiement-buttons">
        <div class="col-sm-6"><a href="javascript:close()" class="btn btn-warning fermer-btn" id="fermer-btn-mandat">Fermer</a></div>
        <div class="col-sm-6"><a href="#" class="btn btn-success confirmer-btn" id="confirmer-btn-mandat">OK</a></div>
    </div>  
EOT
;

echo $this->partial('partial/modal.phtml',
    array('tr'=>$this->tr,
    'titre' => "confirmation de la suppression",
    'class'=>'modal-confirmation',
    'id'=>'confirmer-suppression',
    'content' => $heredocLettrage,
    'footer' => $buttonsLettrage)
   )
   ;
    
    
    
    
    
    
    
    $waitingCircle=<<<EOT
     <div id="floatingBarsG">
    <div class="blockG" id="rotateG_01"></div>
    <div class="blockG" id="rotateG_02"></div>
    <div class="blockG" id="rotateG_03"></div>
    <div class="blockG" id="rotateG_04"></div>
    <div class="blockG" id="rotateG_05"></div>
    <div class="blockG" id="rotateG_06"></div>
    <div class="blockG" id="rotateG_07"></div>
    <div class="blockG" id="rotateG_08"></div>
</div>
EOT
;   

    echo $this->partial('partial/modal.phtml',
    array('tr'=>$this->tr,
    'class'=>'popup-waiting-circle',
    'id'=>'popup-waiting-circle',
    'content' => $waitingCircle)
   )
   ;

?>
    
    <?php echo $this->partial('partial/finContent.phtml'); ?> 
</div>

<script>
    $(function () {
        // dès le chargement de la page, on remplit la liste des directions
        $( "#tableau" ).dataTable({
            oLanguage: {sUrl: basePath + '/assets/js/jquery.dataTables/jquery.dataTables.fr.json'},
        });
        
    });
    
    function close(){
        $('#confirmer-suppression').modal('hide');
    }
    
    function deleteAction(id){
        $('#confirmer-suppression').modal('show');
        $("#confirmer-btn-mandat").attr('href', 'http://localhost/monpointactivite/public/services/delete/'+id);
    }
    
    
</script>


