<?php
    echo $this->partial('partial/header_datatable.phtml',array());
?>
<?php
$this->headTitle('Permissions du rôle');

$this->mainMenu()->setActiveItemId('roles');

$this->pageBreadcrumbs()->setItems([
            'Home'=>$this->url('home'),
            'Manage Roles'=>$this->url('roles'),
            'Edit Role'=>$this->url('roles', ['action'=>'edit', 'id'=>$role->getId()])
            ]);

$form->get('annuler')
        ->setAttributes(['class'=>'btn btn-warning']);
$form->get('submit')
        ->setAttributes(['class'=>'btn btn-success'])
        ->setValue('Enregistrer');

$form->prepare();
?>

<div class="starter-template zone-entreprise">
    
    <div class="div-impot-a-declarer">
        <div class="title_orange">Permissions du role: <?= $this->escapeHtml($role->getName()) ?></div>
        <?= $this->form()->openTag($form); ?>
        <table class="table table-hover table-mini dataTable" >
            <thead>
                <tr>
                    <th width="20%"><div>Permissions</div></th>
                    <th width="20%"><div>Description</div></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($allPermissions as $permission):
                    $element = $form->get('permissions')->get($permission->getName());
                ?>
                <tr>
                    <td>
                        <div class="toggle-select-act fm-cmp-mg">
                            <div class="nk-toggle-switch">
                                <label for="ts1" class="ts-label"><?= $this->escapeHtml($element->getLabel()) ?></label>
                                <input id="ts1" type="checkbox" name="<?= $this->escapeHtmlAttr($element->getName()) ?>" 
                                    value="<?= $this->escapeHtmlAttr($element->getCheckedValue()) ?>"
                                    <?php if ($element->isChecked()) echo 'checked'?>
                                    <?php if ($element->getAttribute('disabled')) echo 'disabled'?>>
                                    <label for="ts1" class="ts-helper"></label>
                                    <?= $this->formElementErrors($element); ?>
                            </div>
                        </div>   
                    </td>
                    <td>
                        <?= $this->escapeHtml($permission->getDescription()) ?>
                    </td>
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
        <?= $this->formElement($form->get('csrf')); ?>
            <?= $this->formElementErrors($form->get('csrf')); ?>
                           
        <div class="row">
            <div class="col-sm-6 col-xs-12 retour"><?= $this->formElement($form->get('annuler')); ?></div>
            <div class="col-sm-6 col-xs-12 enregistrer" style="text-align:right;"><?= $this->formElement($form->get('submit')); ?></div>
        </div>

        <?= $this->form()->closeTag(); ?>
    </div>
    
    <?php echo $this->partial('partial/finContent.phtml'); ?> 
</div>