<?php
$this->headTitle('Détails d\'un rôle');

$this->mainMenu()->setActiveItemId('roles');

$this->pageBreadcrumbs()->setItems([
            'Home'=>$this->url('home'),
            'Manage Roles'=>$this->url('roles'),
            'View Role ' . $role->getName() => $this->url('roles', ['action'=>'view', 'id'=>$role->getId()])
            ]);
?>

<div class="starter-template zone-entreprise">
    <?= $this->flashMessenger()->render('error', ['alert', 'alert-warning']); ?>
    <?= $this->flashMessenger()->render('success', ['alert', 'alert-success']); ?>
    <?= $this->flashMessenger()->render('info', ['alert', 'alert-info']); ?>
    <div class='row'>
        <div class="col-sm-6">
            <div class="div-impot-a-declarer">
                <div class="title_orange">Informations sur le rôle</div>
                <table class="table table-mini dataTable" >
                    <tbody>
                        <tr>
                            <th style="text-align: center">Nom:</th>
                            <td style="text-align: center"><?= $this->escapeHtml($role->getName()) ?></td>
                        </tr>
                        <tr>
                            <th style="text-align: center">Description:</th>
                            <td style="text-align: center"><?= $this->escapeHtml($role->getDescription()) ?></td>
                        </tr>
                        <tr>
                            <th style="text-align: center">Date de Création:</th>
                            <td style="text-align: center"><?= $this->escapeHtml($role->getDateCreated()) ?></td>
                        </tr>  
                    </tbody>
                </table>
                <div class="row" style="margin-top: 25px;margin-bottom: 25px;">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-warning" href="<?= $this->url('roles', 
                            ['action'=>'edit', 'id'=>$role->getId()]); ?>">
                            <span class="fa fa-edit" ></span> Modifier
                        </a>

                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6">
            <div class="div-impot-a-declarer">
                <div class="title_orange">Permissions accordées au rôle</div>
                <table class="table table-hover table-mini dataTable" >
                    <tbody>
                        <?php foreach($allPermissions as $permission): ?>
                            <tr>
                                <td>
                                    <input type="checkbox" disabled <?php if (isset($effectivePermissions[$permission->getName()])) echo 'checked'; ?>>
                                    <?= $this->escapeHtml($permission->getName()) ?>
                                    <?php if (isset($effectivePermissions[$permission->getName()]) && $effectivePermissions[$permission->getName()]=='inherited'): ?>
                                    <em>(inherited)</em>
                                    <?php endif; ?>
                                </td>
                                <td><?= $this->escapeHtml($permission->getDescription()) ?></td>
                            </tr>
                        <?php endforeach; ?>  
                    </tbody>
                </table>
                <div class="row" style="margin-top: 25px;margin-bottom: 25px;">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-warning" href="<?= $this->url('roles', 
                            ['action'=>'editPermissions', 'id'=>$role->getId()]); ?>">
                            <span class="fa fa-edit" ></span> Modifier
                        </a>

                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    <?php echo $this->partial('partial/finContent.phtml'); ?> 
</div>