<?php
$this->headTitle('Ajouter Permission');

$this->mainMenu()->setActiveItemId('admin');

$this->pageBreadcrumbs()->setItems([
            'Home'=>$this->url('home'),
            'Manage Permissions'=>$this->url('permissions'),
            'Add Permission'=>$this->url('permissions', ['action'=>'add'])
            ]);

$form->get('name')->setAttributes([
    'class'=>'form-control'
    ]);

$form->get('description')->setAttributes([
    'class'=>'form-control'
    ]);
$form->get('annuler')->setAttributes(['class'=>'btn btn-warning']);

$form->get('submit')->setAttributes(['class'=>'btn btn-success'])
                    ->setValue('Créer');

$form->prepare();
?>

<div class="starter-template zone-entreprise">
    <div class="div-impot-a-declarer">
        <div class="title_orange">Ajouter une permission</div>
        <?= $this->form()->openTag($form); ?>
            <div class="row form-group">
                <div class="col-sm-6"><label><?= $this->formLabel($form->get('name')); ?><span class="star">&#160;*</span></label></div>
                <div class="col-sm-6"><?= $this->formElement($form->get('name')); ?></div>
                <div class="col-sm-12 errors"><?= $this->formElementErrors($form->get('name')); ?></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6"><label><?= $this->formLabel($form->get('description')); ?><span class="star">&#160;*</span></label></div>
                <div class="col-sm-6"><?= $this->formElement($form->get('description')); ?></div>
                <div class="col-sm-12 errors"><?= $this->formElementErrors($form->get('description')); ?></div>
            </div>
            <?= $this->formElement($form->get('csrf')); ?>
            <?= $this->formElementErrors($form->get('csrf')); ?>
            <div class="row">
                <div class="col-sm-6 col-xs-12 retour"><?= $this->formElement($form->get('annuler')); ?></div>
                <div class="col-sm-6 col-xs-12 enregistrer" style="text-align:right;"><?= $this->formElement($form->get('submit')); ?></div>
            </div>
        <?= $this->form()->closeTag(); ?>
    </div>
    <?php echo $this->partial('partial/finContent.phtml'); ?> 
</div>



