<?php
    echo $this->partial('partial/header_datatable.phtml',array());
?>
<?php
$this->headTitle('Permissions');

$this->mainMenu()->setActiveItemId('admin');

$this->pageBreadcrumbs()->setItems([
            'Home'=>$this->url('home'),
            'Manage Permissions'=>$this->url('permissions'),
            ]);
?>
<style>
    .float{
        position:fixed;
	width:60px;
	height:60px;
	bottom:60px;
	right:40px;
        z-index: 10;
	background-color:orange;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

    .my-float{
        margin-top:25px;
    }
</style>
<a href="<?= $this->url('permissions', ['action'=>'add']); ?>" class="float">
<i class="fa fa-plus my-float"></i>
</a>
<p></p>

<div class="starter-template zone-entreprise">
    <?= $this->flashMessenger()->render('error', ['alert', 'alert-warning']); ?>
    <?= $this->flashMessenger()->render('success', ['alert', 'alert-success']); ?>
    <?= $this->flashMessenger()->render('info', ['alert', 'alert-info']); ?>
    <div class="div-impot-a-declarer">
        <div class="title_orange">Liste des permissions</div>
        <table class="table table-hover table-mini dataTable" >
            <thead>
                <tr>
                    <th width="20%"><div align="center">Désignation</div></th>
                    <th width="20%"><div align="center">Description</div></th>
                    <th width="15%"><div align="center">Date de création</div></th>
                    <th width="10%"><div align="center">Actions</div></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($permissions as $permission): ?>
                <tr>
                    <td>
                        <?= $this->escapeHtml($permission->getName()); ?>
                    </td>
                    <td><?= $this->escapeHtml($permission->getDescription()); ?></a> 
                    </td>
                    <td><nobr><?= $this->escapeHtml($permission->getDateCreated()); ?></nobr></td>  
                    <td style="text-align:center;">
                        <nobr>
                            <a data-hint="Modifier"  href="<?= $this->url('permissions', 
                                ['action'=>'edit', 'id'=>$permission->getId()]); ?>"
                                data-placement="top" class="btn menu-icon vd_bd-green vd_green hint--top"> 
                                 <i class="fa fa-pencil-square-o fa-2x"></i> 
                            </a>                            
                            <a data-hint="Supprimer" data-placement="top" 
                                href="javascript:deleteAction(<?= $this->escapeHtml($permission->getId()); ?>)" class="btn menu-icon vd_bd-red vd_red hint--top"> 
                                 <i class="fa fa-trash fa-2x"></i> 
                            </a>
                        </nobr>                  
                    </td>
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    
    <?php
    
$heredocLettrage=<<<EOT
    <div class="modal-confirmation">
    <div class="titre"></div>
    <div class="text1"> <div id="bTxt">Vous êtes sur le point de supprimer une permission.<br/><br/>Voulez-vous vraiment la supprimer ?</div> </div><br />
   <div class="text3">
 
    </div>
    </div>
        
    <div id="fountain" style="display: none;">
	<div id="fountainG_1" class="fountainG"></div>
	<div id="fountainG_2" class="fountainG"></div>
	<div id="fountainG_3" class="fountainG"></div>
	<div id="fountainG_4" class="fountainG"></div>
	<div id="fountainG_5" class="fountainG"></div>
	<div id="fountainG_6" class="fountainG"></div>
	<div id="fountainG_7" class="fountainG"></div>
	<div id="fountainG_8" class="fountainG"></div>
    </div>
    <br/>
EOT
;  

    $buttonsLettrage=<<<EOT
    <div class="modal-annulation-paiement-buttons">
        <div class="col-sm-6"><a href="javascript:close()" class="btn btn-warning fermer-btn" id="fermer-btn-mandat">Fermer</a></div>
        <div class="col-sm-6"><a href="#" class="btn btn-success confirmer-btn" id="confirmer-btn-mandat">OK</a></div>
    </div>  
EOT
;

echo $this->partial('partial/modal.phtml',
    array('tr'=>$this->tr,
    'titre' => "confirmation de la suppression",
    'class'=>'modal-confirmation',
    'id'=>'confirmer-suppression',
    'content' => $heredocLettrage,
    'footer' => $buttonsLettrage)
   )
   ;
    
    
    
    
    
    
    
    $waitingCircle=<<<EOT
     <div id="floatingBarsG">
    <div class="blockG" id="rotateG_01"></div>
    <div class="blockG" id="rotateG_02"></div>
    <div class="blockG" id="rotateG_03"></div>
    <div class="blockG" id="rotateG_04"></div>
    <div class="blockG" id="rotateG_05"></div>
    <div class="blockG" id="rotateG_06"></div>
    <div class="blockG" id="rotateG_07"></div>
    <div class="blockG" id="rotateG_08"></div>
</div>
EOT
;   

    echo $this->partial('partial/modal.phtml',
    array('tr'=>$this->tr,
    'class'=>'popup-waiting-circle',
    'id'=>'popup-waiting-circle',
    'content' => $waitingCircle)
   )
   ;

?>
    
    <?php echo $this->partial('partial/finContent.phtml'); ?> 
</div>

<script>
    function close(){
        $('#confirmer-suppression').modal('hide');
    }
    
    function deleteAction(id){
        $('#confirmer-suppression').modal('show');
        $("#confirmer-btn-mandat").attr('href', 'http://localhost/monpointactivite/public/permissions/delete/'+id);
    }
</script>