#connection-modal
{
	display:none; 
	/*border:solid 1px red;*/ 
	position:fixed; 
	top:0px; 
	height:830px; 
	width:100%; 
	background:rgba(0,0,0,0.7); 
	z-index:10000;
}

#connection-socket
{
    /*border:solid 1px blue; height:475px; width:475px;*/
    transition: border 0.7s ease-out;
    /*background: rgba(255,255,255,0.75);*/
    margin:auto; margin-top:13%;
}

#success-connection-alert
{
	position: fixed; top:175px; right: 2px; font-size: 15px; z-index:1000;
	display: none;
}

#failed-connection-alert
{
	position: fixed; top:175px; right: 2px; font-size: 15px; z-index:1000;
	display: none;
}

#denied-permission-link-error
{
	position: fixed; top:175px; right: 2px; font-size: 15px; z-index:1000;
	display: none;
}

#success-deconnection-alert
{
	position: fixed; top:175px; right: 2px; font-size: 15px; z-index:1000;
	display: none;
}

#deconnection-confirmation-modal
{
	display:none; 
	/*border:solid 1px red;*/ 
	position:fixed; 
	top:0px; 
	height:830px; 
	width:100%; 
	background:rgba(0,0,0,0.7); 
	z-index:10000;
}

#confirmation-socket
{
    /*border:solid 1px blue; height:475px; width:475px;*/
    transition: border 0.7s ease-out;
    /*background: rgba(255,255,255,0.75);*/
    margin:auto; margin-top:13%;
}