<?php
$this->headTitle('Accueil');

$this->mainMenu()->setActiveItemId('home');

$this->pageBreadcrumbs()->setItems([
            'Home'=>$this->url('home')
            ]);
?>
<link href="<?php echo $this->basePath().'/ressources/plugins/safeway_plugins/css/local/template.css';?>" rel="stylesheet" type="text/css" />
<link href="<?php echo $this->basePath().'/assets/css/sb-admin-2.css';?>" rel="stylesheet" type="text/css" />
<script src="<?php echo $this->basePath().'/assets/js/jquery/jquery.slides.min.js';?>" type="text/javascript"></script>




        <!-- Features -->
        <div class="ts-features section-padding">
            <div class="container">
                <?php if(isset($projectsTotal)){ ?>
                <div class="t3-spotlight t3-features  row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="t3-module module intro-title " id="Mod123x">
                            <div class="module-inner">
                                <h3 class="module-title " style="text-transform: unset;"><span class="title-head"> TABLEAU DE BORD</span></h3>
                                   
                            </div>
                        </div>
                        <br/>
                        
                        <?php if($this->isSousDirecteur){ ?>
                            <form method="POST" action="<?=$this->basePath('/pointactivites/points-de-mes-services') ?>" id="frmTaskEnd"> <input type="hidden" name="executionState" value="3" /> <input type="hidden" name="rechercher" value="Rechercher" /> </form>
                            <form method="POST" action="<?=$this->basePath('/pointactivites/points-de-mes-services') ?>" id="frmTaskNotEnd"> <input type="hidden" name="executionState" value="2" /> <input type="hidden" name="rechercher" value="Rechercher" /> </form>
                            
                        <?php }else if($this->isChefDeService){ ?>
                            <form method="POST" action="<?=$this->basePath('/pointactivites/points-de-mes-agents') ?>" id="frmTaskEnd"> <input type="hidden" name="executionState" value="3" /> <input type="hidden" name="rechercher" value="Rechercher" /> </form>
                            <form method="POST" action="<?=$this->basePath('/pointactivites/points-de-mes-agents') ?>" id="frmTaskNotEnd"> <input type="hidden" name="executionState" value="2" /> <input type="hidden" name="rechercher" value="Rechercher" /> </form>
                            
                        <?php }else{ ?>
                            <form method="POST" action="<?=$this->basePath('/pointactivites') ?>" id="frmTaskEnd"> <input type="hidden" name="executionState" value="3" /> <input type="hidden" name="rechercher" value="Rechercher" /> </form>
                            <form method="POST" action="<?=$this->basePath('/pointactivites') ?>" id="frmTaskNotEnd"> <input type="hidden" name="executionState" value="2" /> <input type="hidden" name="rechercher" value="Rechercher" /> </form>
                        <?php } ?>
                        <div class="t3-module module intro-feature" id="Mod180x">
                        
                        
                        <div class="row">
                                
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-yellow">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-tasks fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge"><?=$notFinishedActivitiesTotal ?></div>
                                                <div>Activités en cours</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" onclick="$('#frmTaskNotEnd').submit(); return false;">
                                        <div class="panel-footer">
                                            <span class="pull-left">Afficher les details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                                <div class="col-lg-3 col-md-6">
                                <div class="panel panel-green">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-cubes fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge"><?=$finishedActivitiesTotal ?></div>
                                                <div>Activités terminés</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" onclick="$('#frmTaskEnd').submit(); return false;">
                                        <div class="panel-footer">
                                            <span class="pull-left">Afficher les details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-red">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-support fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge"><?=$projectsTotal ?></div>
                                                <div>Projets</div>
                                            </div>
                                        </div>
                                    </div>
                                    <?php if($this->isChefDeService){ ?>
                                        <a href="<?=$this->basePath('/projects') ?>">
                                            <div class="panel-footer">
                                                <span class="pull-left">Afficher les details</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    <?php }else{ ?>
                                        <a href="#">
                                            <div class="panel-footer" style="visibility: hidden">
                                                <span class="pull-left">Afficher les details</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    <?php } ?>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-users fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge"><?=$serviceUsersTotal ?></div>
                                                <div>Collaborateurs</div>
                                            </div>
                                        </div>
                                    </div>
                                    <?php if($this->isChefDeService){ ?>
                                        <a href="<?=$this->basePath('/users') ?>">
                                            <div class="panel-footer">
                                                <span class="pull-left">Afficher les details</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    <?php }else{ ?>
                                        <a href="#">
                                            <div class="panel-footer" style="visibility: hidden">
                                                <span class="pull-left">Afficher les details</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    <?php } ?>
                                </div>
                            </div>
                        </div>
                        </div>
                        
                        
                    </div>
                </div>
                <br/><br/><br/><br/><br/>
                <?php } ?>
                
                <!-- SPOTLIGHT -->
                <div class="t3-spotlight t3-features  row">
                    <div class=" col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="t3-module module intro-title " id="Mod123">
                            <div class="module-inner">
                                <h3 class="module-title " style="text-transform: unset;"><span class="title-head"> FONCTIONALITÉS</span></h3>
                                <div class="module-ct">

                                    <div class="custom intro-title">
                                        <p>Ci-dessous les quatres fonctionalités de l'application.</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="t3-module module intro-feature " id="Mod180">
                        <div class="module-inner">
                            <div class="module-ct">
                                <div class=" intro-feature container">

                                    <div class="row">
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="ts-service-wrapper">

                                                <div class="ts-service-icon-wrapper">

                                                    <span class="ts-service-icon">
                                                        <i class="fa fa-tasks"></i>
                                                    </span>

                                                </div>

                                                <div class="ts-service-info">
                                                    <h3>POINTS D'ACTIVITES</h3>
                                                    <p>Il permettra aux agents d'enregistrer, de modifier ou de supprimer leurs différentes activités.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="ts-service-wrapper">

                                                <div class="ts-service-icon-wrapper">

                                                    <span class="ts-service-icon">
                                                        <i class="fa fa-line-chart"></i>
                                                    </span>

                                                </div>

                                                <div class="ts-service-info">
                                                    <h3>REPORTING DES POINTS</h3>
                                                    <p>Ce module est utilisé pour éditer les activités des agents sur une période donnée.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="ts-service-wrapper">

                                                <div class="ts-service-icon-wrapper">

                                                    <span class="ts-service-icon">
                                                        <i class="fa fa-user"></i>
                                                    </span>

                                                </div>

                                                <div class="ts-service-info">
                                                    <h3>GESTION DE COMPTE</h3>
                                                    <p>Ce module permettra à l'agent de gérer son compte, modifier ses informations ou son mot de passe.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="ts-service-wrapper">

                                                <div class="ts-service-icon-wrapper">

                                                    <span class="ts-service-icon">
                                                        <i class="fa fa-users"></i>
                                                    </span>

                                                </div>

                                                <div class="ts-service-info">
                                                    <h3>GESTION DES UTILISATEURS</h3>
                                                    <p>Il permet à l'administrateur de gérer les comptes, les rôles et les permissions qui leur sont acordées.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="ts-general-btn">
                                        </div>
                                    </div>
                                    <!--/ row end -->

                                </div>
                                <!--/ Service box end-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SPOTLIGHT -->
        </div>
    </div>
    <!-- Features end -->


    <!-- Product -->

    <!-- Product end -->


    <div class="home">

    </div>

    <!-- Content mid -->
    
    <div class="ts-content-mid" style="display: none">
        <div class="container">
            <div class="t3-spotlight t3-content-mid  row">
                <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="t3-module module intro-title " id="Mod181">
                        <div class="module-inner">
                            <h3 class="module-title "><span class="title-head"> Tableau de bord</span></h3>
                            <div
                                class="module-ct">

                                <div class="custom intro-title">
                                    <p style="text-align: justify;">
                                        Le système d'information (SI) est un ensemble organisé de ressources qui permet de collecter, 
                                        stocker, traiter et distribuer de l'information, en général grâce à un ordinateur. 
                                        Il s'agit d'un système socio-technique composé de deux sous-systèmes, 
                                        l'un social et l'autre technique. Le sous-système social est composé de la structure 
                                        organisationnelle et des personnes liées au SI. Quant au sous-système technique, il est 
                                        composé des tecnologies et des processus d'affaires. La maitrise du SI est donc 
                                        un pan important dans le processus de gestion de toute structure. En gros, 
                                        au niveau de la DGI, un résumé du SI, du point de vue applicatif, nous donne 
                                        les informations suivantes.
                                        
                                    </p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="t3-module module " id="Mod129">
                    <div class="module-inner">
                        <div class="module-ct">
                            <div class="facts-wrapper">
                                <div class="col-md-6 ts-facts">
                                    <div class="ts-facts-icon">
                                        <i class="fa fa-code"></i>
                                    </div>
                                    <div class="ts-facts-content">
                                        <h2 class="ts-facts-num"><span class="counterUp"><?= $this->escapeHtml($projectsTotal); ?> </span></h2>
                                        <h3 class="ts-facts-title">Projets
                                    </div>
                                </div>
                                <div class="col-md-6 ts-facts">
                                    <div class="ts-facts-icon">
                                        <i class="fa fa-tasks"></i>
                                    </div>
                                    <div class="ts-facts-content">
                                        <h2 class="ts-facts-num"><span class="counterUp"><?= $this->escapeHtml($finishedActivitiesTotal); ?></span></h2>
                                        <h3 class="ts-facts-title">Activités terminés</h3>

                                    </div>
                                </div>
                                <div class="col-md-6 ts-facts">
                                    <div class="ts-facts-icon">
                                        <i class="fa fa-tasks"></i>
                                    </div>
                                    <div class="ts-facts-content">
                                        <h2 class="ts-facts-num"><span class="counterUp"><?= $this->escapeHtml($notFinishedActivitiesTotal); ?></span></h2>
                                        <h3 class="ts-facts-title">Activités en cours</h3>

                                    </div>
                                </div>
                                <div class="col-md-6 ts-facts">
                                    <div class="ts-facts-icon">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <div class="ts-facts-content">
                                        <h2 class="ts-facts-num"><span class="counterUp"><?= $this->escapeHtml($serviceUsersTotal); ?></span></h2>
                                        <h3 class="ts-facts-title">Agents</h3>

                                    </div>
                                </div>
                            </div>
                            <!--facts-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SPOTLIGHT -->
    </div>
    </div>
    <!--/ Content mid -->

    <br/><br/><br/><br/><br/>


